[2017-04-16 10:17] st0012 opened #23 "Block and yield's vm implementation"

[2017-04-16 13:31] questionpython opened #25 "Error in Run gbc file!"
$ ../Rooby -c sample-1.ro
-------------

this generate `sample-1.gbc` file!

$ ls
-------------
[code]
$ ../Rooby sample-1.gbc
-------------
$ ./sample-1.gbc
-------------
[code]
why not run compiled file?

[2017-04-16 14:59] st0012 commented on #25
Hello, it's because I haven't finish that part when you tried it 😅, sorry about that.
But I just fixed it now, and changed compiled file's extension from `gbc` to `rbc` (means `Rooby Bytecode)
And since the `rbc` files is just some vm instructions, you still need Rooby vm to execute them.

Here's the full usage instructions :

**Execute Rooby file using VM**

(might see errors on sample-6 since vm

[2017-04-18 16:00] #23 closed

[2017-04-22 09:14] st0012 opened #32 "Support while statement's compilation"

[2017-04-23 14:24] luisbebop opened #34 "mruby full support?"
You should definitely take a look at go-mruby project. It will allow you to easy implement full ruby syntax at the same time achieving your goal to use go libs.

https://github.com/mitchellh/go-mruby

[2017-04-23 14:44] st0012 commented on #34
@luisbebop Thanks for sharing!!

[2017-04-23 18:44] Heasummn opened #37 "Add line numbers to AST node"
I'd like to help with the development of rooby, and this feature seems pretty simple to implement. I was wondering if I could take a go at it.

[2017-04-24 16:14] hzlmn commented on #32
@st0012 Are you working on it, can help with it if no?

[2017-04-24 23:35] st0012 commented on #32
@hzlmn Hi I already worked on that and just opened a PR #41. But for now I just added some test cases an not actually implemented yet. And I think I will deal with other issues first so you can continue my job if you have a plan to implement it.

[2017-04-25 12:08] hzlmn commented on #32
@st0012 ok, gonna look on it, just a question do you plan to implement `ruby` styled while loop, because if so then semicolon [here](https://github.com/rooby-lang/rooby/pull/41/files#diff-6cf324a7946500f3f5aecc1d7c471e44R286) not important and can be omitted. Is it make sense for you?

[2017-04-25 14:49] st0012 commented on #32
@hzlmn Hi, it's because the limit of parser, see [here](https://github.com/rooby-lang/rooby/wiki/Special-syntaxes). But if you can implement it without this workaround surely would be better.

[2017-04-25 15:01] st0012 opened #43 "Use parser generator to replace handcraft parser"
See title. But haven't decide which one to use yet.

[2017-05-01 17:11] st0012 opened #55 "Support || and && operators"

[2017-05-01 17:12] st0012 opened #56 "Support attr_reader, attr_writer and attr_accessor"

[2017-05-02 06:29] st0012 opened #57 "Test ticket from Code Climate"

[2017-05-02 06:29] #57 closed

[2017-05-02 11:19] #55 closed

[2017-05-02 15:29] st0012 opened #60 "Support nil"
We already have internal representation for `nil` but lexer/parser haven't support this keyword.

[2017-05-02 16:07] #60 closed

[2017-05-03 02:39] st0012 opened #66 "module support"

[2017-05-03 04:47] st0012 commented on #25
@questionpython I'm going to close this issue, but you can reopen it if you meet this problem again.

[2017-05-03 04:47] #25 closed

[2017-05-04 15:53] #66 closed

[2017-05-04 15:54] st0012 opened #71 "Write homebrew formula"

[2017-05-04 16:26] st0012 opened #72 "First release"
### Planned beta release day: 8/31
**In first release we focus on feature support. You can assume at most conditions `rooby` is more slower than `ruby`, but we will optimize `rooby`'s performance in later versions.**
## Required
### Features
- [x] Homebrew formula (thanks to @adlerhsieh)
- [x] Change extension name to `.gb`
- [x] Namespace support (`Foo::Bar`)
- [x] ARGV
- [x] Built in http librar

[2017-05-05 11:19] adlerhsieh commented on #71
Do you mean that users can install this language through the following commands?

[code]

If so, I can help on this. Create a `rooby-lang/homebrew-rooby` repository with a `README.md` file. I'll send a pull request with a formula to that.

[2017-05-05 11:24] st0012 commented on #71
@adlerhsieh Yes this is what I mean. What will you need for this?  A new repo?

[2017-05-05 11:26] adlerhsieh commented on #71
Yes. A new repo with name `homebrew-rooby`, and with 1 commit with any file (cannot send a pull request to blank repo).

[2017-05-05 11:29] st0012 commented on #71
@adlerhsieh Just created the repo and added you as a member.

[2017-05-05 13:50] adlerhsieh commented on #71
Formula updated. It can be installed as long as we release the first version (or we can release a `0.0.1` version to test it out if you want).

Also, just to confirm, in the [README](https://github.com/rooby-lang/homebrew-rooby) I specify that there should be a `/bin/rooby` binary file in the repository. This allows users to use Rooby without having to install Go beforehand. Is this something you

[2017-05-05 16:04] st0012 commented on #71
Yes, thanks for your help!

[2017-05-05 16:20] st0012 opened #73 "Refactor goby compiler"
Refactor `bytecode/generator.go`, especially these two methods:
  - `compileExpression(is *instructionSet,​ exp ast.​Expression,​ scope *scope,​ table *localTable)`
      starts at line 200 in bytecode/​generator.​go
  - `compileStatement(is *instructionSet,​ statement ast.​Statement,​ scope *scope,​ table *localTable)`
      starts at line 108 in bytecode/​generator.​go

[2017-05-05 17:26] st0012 opened #74 "Improve performance"
Currently `rooby`'s performance is not very ideal. We should build some mechanism for profiling `rooby` before we can do any optimization.

References
-  [profiling go programs](https://blog.golang.org/profiling-go-programs)
- https://dave.cheney.net/2013/07/07/introducing-profile-super-simple-profiling-for-go-programs

[2017-05-05 17:27] st0012 commented on #32
This feature is already implemented by @janczer so I'm closing it.

[2017-05-05 17:27] #32 closed

[2017-05-06 17:37] #74 closed

[2017-05-07 16:42] st0012 opened #78 "Library management"
- Library in Goby is called `package`
- There should be `GOBY_PATH` for third-party packages and `GOBY_ROOT` for standard packages
- User's use `packages.yml` to specify the **github repo** and **commit sha** of required packages
  - We should create a new ticket for this
- There would be three kinds of libraries:
  - [ ] Third-party packages written in goby
  - [ ]  Standard packages written in g

[2017-05-07 21:39] bobisme opened #79 "Rename the language to something that's not a homophone of "Ruby.""
As an American, if I read, "rooby," I read it such that it sounds exactly like "ruby."

I imagine a verbal conversation to go something like:

Bob: Hey I found this new language called "Rooby."
Sandi Metz: Yeah... I think I know something about that.
Bob: No, it's "rooby" with two o's. It's written in Go.
Alan Turing: Go, like the ancient Chinese board game?
Bob: ... where am I?

If you renamed it

[2017-05-08 01:43] st0012 commented on #79
@bobisme Hi I do consider renaming this project, but I haven't decide when to do this. BTW `goby` is a good candidate, thanks for your suggestion 😄

[2017-05-08 12:26] st0012 commented on #71
Thanks to @adlerhsieh now we have our first release(v0.0.1)! And I'm able to close this 😁

[2017-05-08 12:26] #71 closed

[2017-05-09 11:56] MichielCuijpers commented on #73
Thanks for creating this issue @st0012! I posted a tweet with @bettercodehub to attract contributors for your issue.

[2017-05-09 12:21] adlerhsieh commented on #78
Some ideas:

- Every rooby project has a `vendor` directory, which we read dependencies from.
- Every rooby project should use a `packages.yml` (basically like `Gemfile` in Ruby) to specify which dependency it is looking for and which source it is downloading from. It may look like this:

[code]

- As above, we can start from supporting GitHub (maybe other git sources).
- Hosting a package should

[2017-05-09 15:52] st0012 commented on #78
I agree with the vendor and `ROOBY_PATH` idea. We should start implementing `ROOBY_PATH` since we're going to build some standard libraries.
But I'm not sure if we are able to resolve dependencies like bundler does for the `package.yml` and `spec.yml`. Maybe we should just let users decide what to use in `package.yml` and they should deal the dependency issue themselves.

[2017-05-10 12:39] darkskiez opened #80 "Have a test to run against https://github.com/ruby/spec"
Whilst I appreciate you do not target full language compliance / spec, having some awareness of where it deviates would be good.

There may be some language edge-cases which have been dealt with in ruby that might be good to be aware of and tested against.

[2017-05-10 14:31] st0012 commented on #80
Thanks! We will run these specs before first release 😁

[2017-05-10 14:37] st0012 commented on #79
@bobisme Hello, I already renamed this project to `goby`, thanks for your advice!

[2017-05-10 14:37] #79 closed

[2017-05-11 01:54] st0012 opened #81 "Support IO global variables"
Support these three global variables for further IO implementation

[code]

[2017-05-11 14:32] st0012 commented on #78
@adlerhsieh @janczer I updated the issue description, can you take a look and give me some feedback?

[2017-05-11 21:39] epitron opened #82 ""puts" without parens fails silently"
I was surprised when I wrote my first goby script, and nothing happened.

It looked something like this:
[code]

There was no output, no error. I scratched my head for a while, and after looking at the samples, noticed that parens are required.

It's strange, since other functions give an error when you call them without parens. Is `puts` special?

[2017-05-12 00:35] st0012 commented on #82
No, `puts` is not a special case. And for now we haven't update our parser for removing parens from method call, but we will work on it soon. Thanks for report!

[2017-05-13 03:20] st0012 opened #84 "Support method call without parens?"
Currently any method call in goby needs parens to wrap parameters like `foo(1)`, this is not a big issue in normal cases. However, in convention some method calls like `include`, `require` in Ruby don't need to wrap params with parentheses, we treat them as a configuration more than a method call.

[code]

So I need some feedback about if `goby` should support this kind of syntax or we should alwa

[2017-05-13 06:12] adlerhsieh commented on #84
Personally I think it is necessary. If we want to invite more users from Ruby (which I believe is one main feature of this language) to use Goby then they would expect this feature.

However there are still several good reasons if we don't want to support it. For example, improving performance for the parser by only handling parentheses.

[2017-05-13 15:30] st0012 commented on #84
@adlerhsieh I don't think we can gain much performance improvement by dropping this feature since the current performance bottleneck is VM.
In my opinion, the main reason for not supporting this besides technical difficulty is code consistency. In Ruby you can write most of things in many different ways, and that can cause some confusion so we need style guide(s) to tell programmers write code con

[2017-05-14 00:40] adlerhsieh commented on #84
Yeah that makes sense. I'm fine with both, then. You can make the call.

[2017-05-14 02:51] st0012 commented on #84
@adlerhsieh I think I won't support it for now and announce this decision is readme with this PR. If people really want this to be supported we can reconsider it.

[2017-05-15 03:42] hachi8833 opened #88 "Embedded module support"
(Related to #66)

It'd be very nice if embedded module is supported in Goby.

In Ruby, most fundamental methods like `Object` or `Kernel` are implemented as module: perhaps to simplify the implementations of such basic classes.

- Embedded modules written in Go
- Embedded modules written in Goby (if possible)

[2017-05-15 03:43] st0012 commented on #88
@hachi8833 Do you mean extract some methods into modules and included them by default?

[2017-05-15 03:49] hachi8833 commented on #88
Thank you for the reply.
I don't mean that in principle. I recognize that Goby is not equal to Ruby.
I'd just be glad if embedded modules can be included in Goby's classes in official way.

Goby is growing very fast and I guess embedded modules would help keep class hierarchy in order.

[2017-05-15 03:51] st0012 commented on #88
@hachi8833 This sounds interesting but currently I don't have time do to this. Are you willing to give it a try?

[2017-05-15 03:55] hachi8833 commented on #88
I would if I could now ;-)
But I'm reading your code and feel impressive, well ordered.
(I'm not a fast coder but I'm afraid I could contribute for documentation)

I appreciate your excellent work!

[2017-05-15 03:56] st0012 commented on #88
Thanks 😄
Take your time and I'm looking forward to see you PR 😁

[2017-05-16 12:12] adlerhsieh commented on #84
Do you want to close this one since [this section in README](https://github.com/goby-lang/goby#something-different-from-ruby) is added?

[2017-05-16 14:21] st0012 commented on #84
Sure

[2017-05-16 14:21] #84 closed

[2017-05-16 18:15] janczer opened #93 "Parser for `for statement`"
Possible `for statement`:

1)

    for element in array do
        element.do_stuff
    end

2)

    for i in 0..5 do
        puts(i)
    end

How parser should parse `for statement`?

[2017-05-17 07:26] st0012 commented on #93
I think you should do some experiments yourself or you need to wait for me finishing the namespace support 😅

[2017-05-17 13:55] st0012 opened #97 "Performance improvements"
- [ ] inline method cache
- [ ] inline constant cache
- [ ] String interning (two level cache table)
- [ ] stack-split

[2017-05-17 22:31] adlerhsieh opened #98 "File Extension Name"
Since we're renaming it to Goby, we can decide if we're still using the `.ro` extension file name.

Maybe something like `.gb` or `.gy` can be good. They are currently not in use. `.goby` is a another alternative. `.go` is definitely not a good choice.

Personally I will choose `.gb`.

[2017-05-18 07:08] st0012 commented on #98
Just searched and `.gb` seems to be an available extension name. I'll change it after I finish namespace support (so damn hard)

[2017-05-19 01:42] #98 closed

[2017-05-19 04:29] st0012 opened #101 "Write textmate's tmbundle"

[2017-05-19 23:42] hachi8833 opened #103 "Range of Integer class"
I manually checked the edge cases of Integer class with the latest master:

[code]

I don't think this is a bug but comes from Go's spec, as well as a specification matter of Goby. It might be good to add above to Integer's API doc.

------------------
Future: It might help us: https://golang.org/pkg/math/big/

Ruby 2.4 finally ceased the legacy FixNum and BigNum classes and migrated them to Integ

[2017-05-20 01:43] st0012 commented on #103
Thanks for reporting! I'll open a page to record some edge cases like this

[2017-05-20 09:06] hachi8833 commented on #103
Fixed a typo and miscalculation in the report :-p

[2017-05-20 15:15] st0012 commented on #103
@hachi8833 Please PM me on gitter when you're available if you're still finding things to contribute.

[2017-05-22 02:13] st0012 opened #107 "Add comment to code generator"
The compilation mechanism is quite complex and some naming is confusing (like block statement), so it's necessary to add more document for others to understand the code.

[2017-05-25 12:27] #56 closed

[2017-05-25 13:02] beatscode opened #114 "Microservice example"
In the README, the project aims to allow developers to create api server or a microservice. Is this project mainly to use golang standard library while using ruby like syntax? Curious if there are any examples of a microservice using goby.

[2017-05-25 14:36] st0012 commented on #114
That's our goal but we're still working on it. We'll release version 0.1.0 with basic server library in August.

[2017-05-25 20:30] janczer commented on #93
What structure for variable should I use in [`ForStatment`](https://github.com/goby-lang/goby/blob/add-for-function/ast/ast.go#L490) structure? `InstanceVariable` or `Identifier`? I can't understand different between this structures. @st0012 Can you help me?

[2017-05-26 14:16] janczer opened #115 "Add new method to `File`"
New methods:
- `open`
- `create`
- `write`

I'm not sure what methods we should have in `File`?
cc: @st0012 @adlerhsieh

[2017-05-26 14:20] st0012 commented on #115
- delete
- new
- open
- exist?

[2017-05-26 14:23] st0012 commented on #115
However we haven't support question mark on method name, so exist?  can ignore question mark for now

[2017-05-26 14:53] hachi8833 opened #116 "Class inheritance chart"
Created a [class inheritance chart of goby](http://interactive.blockdiag.com/?compression=deflate&src=eJxLyslPzk7JTExXqOZScEosTvVPykpNLlHQtVNAsJxzEouLQQyn_Pyc1MQ8ayKUBpcUZealE6PSM68kNT21iBiljkVFiZXEKPRILM4gRp1rUVE-UTb7lebk4FHnlpmTas1VywUAg6JnAQ).

<img width="1283" alt="170526_2351_28uhvu" src="https://cloud.githubusercontent.com/assets/4289625/26499631/50ec36a2-426e-11e7-8884-7e871e778db8.png">

[2017-05-26 15:01] st0012 commented on #116
Well it's not that correct. `Class` class is all classes' class. In other words, all classes are `Class`'s instance.
And the inheritance tree is actually very simple: Every built in classes (includes standard lib like `file`) inherits `ObjectClass`, and also is an instance of `Class`

[2017-05-26 15:02] st0012 commented on #116
But drawing an inheritance chart is a very good idea, thanks!

[2017-05-26 15:13] hachi8833 commented on #116
Thank you for the checking!
I'd be glad if you edit [the chart](http://interactive.blockdiag.com/?compression=deflate&src=eJxLyslPzk7JTExXqOZScEosTvVPykpNLlHQtVNAsJxzEouLQQyn_Pyc1MQ8ayKUBpcUZealE6PSM68kNT21iBiljkVFiZXEKPRILM4gRp1rUVE-UTb7lebk4FHnlpmTas1VywUAg6JnAQ) for documentation.

[2017-05-26 15:16] janczer commented on #115
If we add all this methods to `File` we can check that 'File IO class' is done from #72?

[2017-05-26 15:17] st0012 commented on #115
Sure

[2017-05-26 15:25] #116 closed

[2017-05-27 06:30] hachi8833 opened #119 "Question: class can inherit module?"
I have a small question.

I found you can inherit modules to class as if modules were a class.

The following works on the latest Goby build, but I just wonder if this behavior is OK.

[code]

If you run the code with Ruby, you receive "superclass must be a Class (Module given) (TypeError)."
If you change `module` to `class` in line 1, it works with Ruby.

[2017-05-27 12:43] hachi8833 commented on #119
One more question.
Are the embedded classes closed?

Looks like the embedded classes are not extensible so far: I cannot add or override methods against them, and cannot inherit them.

[code]

[code]

I'm just unsure if this behavior is the expected one, or unimplemented. This depends on your plan or specification.

[2017-05-27 13:52] adlerhsieh commented on #119
I don't think we have implemented self-defined method for built-in class, so defining extra methods  for `String` is not working. And yes, from a design perspective module should not be inherited to a class. It would be great to implement those features if you like to try :)

[2017-05-27 13:53] adlerhsieh commented on #119
Unless @st0012 got a different idea on this

[2017-05-27 14:50] hachi8833 commented on #119
Thank you for the answer!

FYI: now I found that built-in class can be extended and overload methods by including a module:

[code]

In Ruby, `puts(i.to_i)` returns `0`.

---------------------

Just a mutter to myself: Module's behavior is a little bit different between current Goby and Ruby, but this implies that built-in classes could be extended with modules that are written in Goby.

(Actually

[2017-05-27 14:54] st0012 commented on #119
@hachi8833 @adlerhsieh I am not intended to make module inheritable, I just haven't forbidden such usage (please send a PR if you want to fix this). I also don't want built in classes to be extended, just haven't deal with it yet.
And thanks for the report, you really found some interesting behaviors I didn't expect.

[2017-05-27 14:58] hachi8833 commented on #119
Thank you for the answer! I just wanted to check your plans and intentions for modules and classes before touching codes.

[2017-05-27 16:49] #34 closed

[2017-05-28 14:46] st0012 commented on #119
@hachi8833 Do you want to fix this as your first contribution 😁?

[2017-05-28 14:49] st0012 commented on #114
@beatscode I'm closing this now and if you have any question you can still leave comment on it.

[2017-05-28 14:49] #114 closed

[2017-05-28 15:09] st0012 opened #122 "Http library"
Current status:
- Have `URI` module and `.parse` method that returns `URI::HTTP` or `URI::HTTPS` instance.
- Have `Net::HTTP` class and very simple `.get` method.

We still need:
- [ ] Support `URI` object as `Net::HTTP.get`'s argument.
- [x] `Net::HTTPGenericRequest` class and `Net::HTTP::Get`, `Net::HTTP::Post` which inherits it.
- [x] `Net::HTTPResponse` class
- [ ] Methods of `Net::HTTP`:
  -

[2017-05-28 16:42] st0012 opened #124 "Merge Object and BaseObject interfaces"
Currently we have two interfaces to represent objects in Goby. One is `Object` which represents any internal objects in the vm. The other one is `BaseObject`, which represents objects that can be accessed in Goby, like `String`, `Integer`.

And these two interface is sort of duplicated, their only difference is that `BaseObject` requires structs to have `returnClass()` method. This makes `method`

[2017-05-28 16:47] st0012 opened #125 "Add tests for vm's error conditions"
Currently our coverage is stuck around 80% because out tests don't care about error conditions. So I think we should add tests for those conditions and remove some really edge error cases (which I add earlier for easier debugging).

[2017-05-28 16:48] st0012 commented on #125
Any of you want to help me doing this? @adlerhsieh @janczer

[2017-05-28 22:06] hachi8833 commented on #119
Thnx! I'd dig it if I could fix the one.

To fix: modules should not be inherited to class with `<` operator on class definition.
(I'd notify that I'm slow in writing codes)

[2017-05-29 00:49] hachi8833 commented on #124
Interesting. I'll be watching how fundamental class design is going to be.

[2017-05-29 02:21] st0012 commented on #119
You should do this on the vm side and `RClass` struct has a flag determine if it's a module. So you just have to find a place to block the inheritance.

[2017-05-29 03:38] st0012 commented on #124
@hachi8833 I already opened a PR for this issue, see the reference above.

[2017-05-29 04:08] #124 closed

[2017-06-01 01:54] adlerhsieh commented on #125
Currently we're using `panic` to indicate an error, which would force the program to exit. This issue might include to replace that `panic` with our builtin type `Error`, so that it is test-able. I'll take a look if I got time.

[2017-06-01 01:57] adlerhsieh opened #129 "Variable Assignment Does Not Return Anything"
Something like:

[code]

does not return `10` like in Ruby. It only returns if:

[code]

Might be a VM issue.

[2017-06-01 22:03] hachi8833 commented on #119
#131 under construction might be the key for the fix.

[2017-06-01 22:48] st0012 commented on #119
Nope, I think this check should happen on vm side, cause in the future I might remove module statement and use class statement for module too.

[2017-06-01 23:27] st0012 commented on #125
@adlerhsieh I think [this](https://stackoverflow.com/questions/31595791/how-to-test-panics) is a good reference for this issue

[2017-06-02 11:47] adlerhsieh commented on #125
Thanks, I'll take a look.

[2017-06-03 01:52] st0012 opened #134 "erb-like template engine"
Since go's template engines all need to be compiled, it's not possible to create a template engine that to them. So the only way to have a template engine is to create one with `Goby`. And I found a [simplified implementation](https://github.com/jeremyevans/erubi/blob/master/lib/erubi.rb) of `erubis`, I think we can try to implement something like this.
But we'll need satisfy to some prerequisites

[2017-06-04 00:51] hachi8833 commented on #134
FYI: regarding regexp class, I think [regexp2](https://github.com/dlclark/regexp2/) package, which came from .NET Framework code in C#, would be very good for Goby. Very powerful, and the features are almost all equivalent to Ruby's Onigmo and PCRE, except the very-new "absent operator" in Ruby 2.4 as far as I have used.

*Go's standard regexp package is pretty poor :-).

[2017-06-04 14:21] hachi8833 opened #137 "Goby stops responding when quotation marks are not paired"
Happened to find that the following code makes Goby stop responding:

[code]

Just to create the test code for the error cases:

[code]

[2017-06-04 14:33] st0012 commented on #137
This will be fixed after we introduce finite state machine in #131

[2017-06-05 01:18] st0012 commented on #119
Thanks for @hachi8833 this has been fixed 😄

[2017-06-05 01:18] #119 closed

[2017-06-06 08:40] st0012 opened #141 "New syntax supports"
- [x] Method call without parens around args
- [x] Method argument's default value
- [x] Support symbol
- [x] keyword argument
- [x] Question or Bang mark in method name (like `exists?`, `empty?`)

[2017-06-08 16:11] st0012 commented on #115
Just finished in #145

[2017-06-08 16:11] #115 closed

[2017-06-09 16:08] #37 closed

[2017-06-09 16:22] st0012 commented on #137
@hachi8833 I just fixed this in a very naive way, see https://github.com/goby-lang/goby/commit/3204bce2ab429d4c3e2e0570fc700289f6313ce4.
And actually this can't be tested since this issue should be reported when `lexing`, and currently `lexer` doesn't have any error report mechanism so I can only use `panic`.

[2017-06-09 16:24] st0012 commented on #137
I'm going to close this one because the requirement for `lexer`'s error report is another new issue.

[2017-06-09 16:24] #137 closed

[2017-06-09 23:05] hachi8833 opened #149 "Panic on including two modules twice"
The following encounters panic `runtime: goroutine stack exceeds 1000000000-byte limit
fatal error: stack overflow` while it works on Ruby:

[code]

But the following works both on Goby and Ruby:

[code]

The following works as well on Goby and Ruby:

[code]

[2017-06-09 23:07] hachi8833 opened #150 "Nil should not be printed"
[code]

Goby outputs `nill` while Ruby outputs empty line.

[2017-06-09 23:08] hachi8833 opened #151 "Empty instance method should not be printed"
[code]

* Goby: `<Instance of: Foo>`
* Ruby: empty line

[2017-06-09 23:09] hachi8833 opened #152 "Undefined method on `attr_reader` should not cause panic"
[code]
* Ruby:

* Goby:

  panic: interface conversion: vm.Object is *vm.RClass, not *vm.RObject [recovered]
	panic: interface conversion: vm.Object is *vm.RClass, not *vm.RObject [recovered]
	panic: interface conversion: vm.Object is *vm.RClass, not *vm.RObject [recovered]
	panic: interface conversion: vm.Object is *vm.RClass, not *vm.RObject

----------
But the following outputs as expected:

[c

[2017-06-10 00:39] hachi8833 commented on #149
Another sample that causes panic:

[code]

[2017-06-10 01:18] st0012 commented on #152
This behavior didn't show on my machine. And I added test for these cases https://github.com/goby-lang/goby/commit/143f126af4783e2cd50b9f9c64783c3e715c5c7b, it passed both my machine and CI.
Also, if I run it in file, it returns expected message too.

[2017-06-10 01:21] st0012 commented on #151
The cause is that empty instance method returns the instance itself, investigating.

[2017-06-10 01:22] st0012 commented on #150
This should be fixed via https://github.com/goby-lang/goby/commit/51aafa6d23a1c2105a7806de5c3bceeb0783a8f1. Please help verify the fix on master branch.

[2017-06-10 01:27] st0012 commented on #149
Sorry, just mis-pressed

[2017-06-10 01:28] st0012 commented on #82
This should be fixed after #146 get is done.

[2017-06-10 01:39] hachi8833 commented on #152
I'll look into it.

[2017-06-10 01:44] hachi8833 commented on #152
As you notified, this time works fine with that.
I close the issue.

[2017-06-10 01:44] #152 closed

[2017-06-10 02:09] hachi8833 commented on #150
Confirmed it works fine on master branch now.
Closes the issue.

[2017-06-10 02:09] #150 closed

[2017-06-10 04:40] hachi8833 opened #153 "Comments after `def` causes panic"
[code]

[code]

[2017-06-11 02:17] st0012 commented on #153
Fixed, see https://github.com/goby-lang/goby/compare/01eec7ba1681...be4954caf9a4

[2017-06-11 02:44] st0012 commented on #151
Should be fixed in https://github.com/goby-lang/goby/commit/3834168f16102d7a57e1d508b4eb292b1cd0da08

[2017-06-11 05:55] hachi8833 commented on #151
Confirmed the bug has been fixed!

[2017-06-11 06:46] hachi8833 commented on #153
Confirmed this bug has been fixed on the current master branch.
Thank you very much!

[2017-06-11 06:46] #153 closed

[2017-06-11 06:47] #151 closed

[2017-06-11 07:34] adlerhsieh commented on #82
It works well.

[2017-06-11 07:40] st0012 commented on #82
@epitron We already fixed this by supporting method call without parens, so I'm closing this now.

[2017-06-11 07:40] #82 closed

[2017-06-11 07:57] adlerhsieh opened #158 "`#new` Method for Built-In Classes"
Currently the `#new` method only works for classes users create. It does not work for built-in classes like `String`, `Integer`, or `Hash`.

The following is an error message from executing `String.new`:

![screen shot 2017-06-11 at 5 55 25 pm](https://user-images.githubusercontent.com/6851886/27009372-36d659e2-4ecf-11e7-8fd5-e0ca19f2e588.png)

[2017-06-11 08:02] st0012 commented on #158
I'm not planning support this now. But I think we should provide a more friendly error message.

[2017-06-13 06:36] st0012 commented on #43
Use `yacc`

[2017-06-13 13:22] st0012 commented on #158
Now this kind of usages should return error like`UnsupportedMethodError: Unsupported Method #new for <Class:String>`. See: https://github.com/goby-lang/goby/commit/f35bc12b7e37560531c315d73647391faa6eb537

[2017-06-14 11:11] adlerhsieh commented on #158
Looks good. It works from my side.

[2017-06-15 09:59] st0012 commented on #158
@adlerhsieh Then I'm closing this~

[2017-06-15 09:59] #158 closed

[2017-06-15 11:18] adlerhsieh opened #163 "Implementing $GOBY_ROOT"
- Add a post-install message to `brew install goby` asking users to set `$GOBY_ROOT`
- When executing `goby`, it looks for `$GOBY_ROOT`. If it is not set, display a help message and exit.
- When executing `goby`, it looks for standard libraries in `$GOBY_ROOT/lib/[version]` directory. If it does not exist, it creates and copies the `lib` there.

[2017-06-15 14:50] st0012 commented on #163
@adlerhsieh So where should we put current `lib` in the first place?

[2017-06-18 14:00] adlerhsieh commented on #163
I think we don't need to move `lib` directory for now.

After several tries I found it's more complicated than I thought to actually "find" and "copy" `lib` directory in `goby` executable. It will be even more complicated if we're supporting different ways to installation and platforms in the future.

However, I come up with another simpler solution. When doing `brew install goby`, it will pop up

[2017-06-18 14:23] st0012 commented on #163
@adlerhsieh I think this is simple but enough to achieve our goal. Just one concern: should GOBY_ROOT be `$HOME/goby`? I think it should be something like `/usr/loca/goby/`.

[2017-06-19 05:52] adlerhsieh commented on #163
Yeap, just a matter of style. `/usr/local/goby` works as well. Then I'll just change that.

[2017-06-19 05:55] hachi8833 opened #169 "Got occasionally "fatal error: concurrent map read and map write" on Apach Bench"
I'd open the issue now because the 'thread' branch has been merged into 'master' branch.
The frequency of the panic `fatal error: concurrent map read and map write` is getting less and less, but occasionally occurs.

(Goby's `make test` is getting more stable than before.)

[code]

[2017-06-19 05:57] st0012 commented on #163
@adlerhsieh Ok, thinks for helping this 😄

[2017-06-19 06:00] hachi8833 commented on #169
It is a little bit strange that the occurrence of panic looks not random. For example, I remember:

- OK, OK, OK, OK, OK, OK, OK, panic, panic, panic, panic
- OK, OK, panic, panic

[2017-06-19 15:59] st0012 commented on #169
@hachi8833 I think current master should no longer has this issue, can you help me confirm it?

[2017-06-19 21:47] hachi8833 commented on #169
Performed `make test` twelve-times and all passed. Excellent!

[code]

I close the issue.

[2017-06-19 21:47] #169 closed

[2017-06-22 13:24] adlerhsieh commented on #163
This is done.

[2017-06-22 13:24] #163 closed

[2017-06-24 04:54] gernest commented on #134
I think at the moment gooby need somehow to provide facility to work with raw bytes.  Implementing something like this need more control of the input stream.

[2017-06-24 15:37] st0012 commented on #134
@gernest I agree with your opinion, but currently we don't have enough contributors to implement this. Are you interested in implementing this feature?

[2017-06-25 07:14] hachi8833 opened #174 "Goby's String class should be multilingual-conscious"
Current strings are counted as byte:

[code]

This comes from the `string` type in Go.

[code]

I'd suggest that changing `string` type to `rune` type or like that as a default, to support `each` on multilingual strings.

------------
**memorandum:** Looks like the minimum specification of Goby is needed soon:

- Goby's encoding is implicitly fixed to UTF-8, while Ruby's String has `#encoding` to

[2017-06-25 10:28] hachi8833 opened #175 "Multiple assignment"
Just to memorize that multiple assignment is unimplemented on Goby for now.

* 1

[code]

* 2

[code]

Looks the priority is not high.

[2017-06-26 16:26] #73 closed

[2017-06-26 22:11] hachi8833 opened #177 "Alpha REPL issues"
Checked on master branch, with the binary executable from `make install`.

* Empty echo backs are shown in some cases:

<img width="150" alt="170627_0607_xarbp6" src="https://user-images.githubusercontent.com/4289625/27560657-f9cd3ed4-5aff-11e7-8fce-a8d851c7cce1.png">

showing `#=>` at the head of echo back would be better for usability.

* `exit` not working (needs ^C to exit instead for now):

[

[2017-06-27 04:01] st0012 commented on #177
@hachi8833 Thanks for the report, and currently I can just say that assignment won't return anything. But other cases I need to investigate a little bit.

[2017-06-27 04:34] st0012 commented on #177
@hachi8833 I just pushed a fix for this issue, pasting code should executes normally. I'm still working on fix formatting.

[2017-06-28 13:09] hachi8833 opened #179 "`Class.superclass` and `Object.superclass` causes panic"
`puts(Class.superclass)` or `puts(Object.superclass)` causes panic.

*Ruby's `BasicObject.superclass` returns `nil`.

[2017-06-29 08:21] st0012 commented on #179
@hachi8833 This should be fixed, but in REPL I won't show anything if return value is nil so you might test it in files.

[2017-06-30 06:45] st0012 opened #180 "Built in PG library"
Before writing a sample app for demoing, we need a library to connect databases. And since we'll deploy this app on Heroku, a supporting PG might be a better choice.

[2017-07-01 05:15] Maxwell-Alexius opened #182 "[VM] Range API Design"
According to [Ruby Ver. 2.4.1 Doc](https://ruby-doc.org/core-2.4.1/Range.html)

Range method implementation listed below:
[code]

[2017-07-01 05:23] st0012 commented on #182
LGTM, you can just start implementing them.

[2017-07-01 06:00] Maxwell-Alexius opened #184 "String API Refactor Error Test Case"
According to [Ruby Ver. 2.4.1 Doc](https://ruby-doc.org/core-2.4.1/String.html)

String method implementation listed below:

Implemented and well-documented:
[code]

Haven't implemented yet:

- [ ] `String#<< (Same as #concat)`
- [x] `String#concat`
- [x] `String#[]`
- [x] `String#[]= (Replace the index of the string with another string or character)`
- [ ] `String#%`
- [ ] `String#index`
- [x] `S

[2017-07-01 06:02] st0012 commented on #184
@Maxwell-Alexius Can you use `- [ ]` to make list checkable? Then I can just check what I think is needed.

[2017-07-01 06:09] Maxwell-Alexius commented on #184
@st0012  Okay, you can check it out now!~

[2017-07-01 06:15] st0012 commented on #184
@Maxwell-Alexius Checked

[2017-07-01 06:39] hachi8833 commented on #184
I suppose that `String#include?` is also needed because the implementation would be much simpler than `String#gsub` that requires full regexp library. How about this?

- [ ] `String#include?`

[2017-07-01 10:45] hachi8833 opened #185 "Out of range error when two or more discontinued contents in Array"
The following works:

[code]

But the following causes panic on Goby while it works on Ruby:

[code]

Looks like `code[200] = 'OK'` might be the cause: there are two empty index 0...99 and 103...199.

[2017-07-01 15:19] st0012 commented on #185
@hachi8833 Thanks for reporting, this should be fixed in https://github.com/goby-lang/goby/commit/655515b288fa2fdb662c987e584de41cd9dd007a, please help me verify it.

[2017-07-01 22:38] hachi8833 commented on #185
Confirmed the issue has been fixed on the master branch:

[code]

Thank you for the fix!

[2017-07-01 22:40] #185 closed

[2017-07-01 22:41] hachi8833 opened #187 "Returns usage of goby when exiting REPL"
Looks unnecessary:

[code]

[2017-07-01 23:25] hachi8833 opened #188 "Performing `require` or `require_relative` in REPL causes panic in some case"
All are checked with REPL.

* when no parentheses are provided

[code]

* when the case of the lib is different (Ruby treats this as case-insensitive)

[code]

This works on `require_relative` like `require_relative("mylib")`

* when specifying a nonexistent file

[code]

* when providing an extension in `require_relative` (works on Ruby)

[code]

[2017-07-02 05:42] hachi8833 opened #190 "`-c` option is not working"
`goby -c my_file.gb` generates no gbbc file in the current master branch.

[2017-07-02 06:32] hachi8833 opened #191 "Array#at causes panic when passing `-1`"
[code]

[2017-07-02 07:55] Maxwell-Alexius commented on #191
I may open a PR to implement negative index condition for `Array#at`, `Array#[]` and `Array#[]=`

[2017-07-02 09:23] hachi8833 opened #192 "Range object with negative value causes panic on `to_a`"
`(-1..5).to_a` causes panic, while `(-1..5)` itself still works.

[2017-07-02 10:14] hachi8833 opened #194 "Higher unicode characters are garbled on `String#capitalize`"
[code]

FYI: Goby's `upcase` and `downcase` works fine (= does not change such chars).

[code]

[2017-07-02 10:19] hachi8833 commented on #194
`reverse` causes the similar issue: looks like this works byte-based.

[code]

[2017-07-02 14:14] hachi8833 opened #196 "Special characters such as `\n` are not interpreted"
Special characters with backslash such as `\n` `\r` `\t` `\v` are not treated. Looks like string literals are actually just a byte stream.

* Goby

[code]

* Ruby

[code]

[2017-07-02 17:13] Maxwell-Alexius commented on #196
#189 meets some sort of same problem, such as when implementing the `String#strip`, it need to handle the case such that:

[code]

[2017-07-02 21:11] hachi8833 commented on #196
Actually, I met the same issue when implementing `String#strip` ;-)

Well, I suppose we should also change `string` type in Golang to `rune` type.

[2017-07-02 21:13] hachi8833 commented on #191
Confirmed your fix works fine! I close the issue.

[2017-07-02 21:13] #191 closed

[2017-07-02 21:14] hachi8833 commented on #194
I suppose we should also change string type in Golang to rune type to handle multilingual characters.

[2017-07-02 21:16] hachi8833 commented on #192
Confirmed your fix works! I close the issue.
[code]

[2017-07-02 21:16] #192 closed

[2017-07-02 21:39] hachi8833 opened #198 "Trailing `?` and `!` for method names"
I should've noticed that `String#include` I implemented yesterday has no `?` because I couldn't do that on the current implementation.

I imagine treating  `?` and `!` for method names like Ruby would make the parser more complicated.

Thus I suppose treating `?` and `!` is a future issue, or is to cut out from specification.

[2017-07-03 02:45] st0012 commented on #198
I haven't decided about this yet. `?` and `!` is useful when people use it correctly, but this may also create more confusion when someone miss-use/forget to use them.
However, I don't know what the impact to Ruby developers would be if we don't implement this.

[2017-07-03 02:50] st0012 commented on #196
I'll let @Maxwell-Alexius work on this first.

[2017-07-03 04:45] hachi8833 commented on #198
Yes, that's what I worry about a bit.

Looks like trailing `?` might be pretty good for developers to indicate the method returns boolean shortly, while the usage of trailing `!` is widely inconsistent.

This might be a language design and coding-style matter. I'd just say that we should not determine this too early. Gimme some time.

[2017-07-03 07:36] Maxwell-Alexius commented on #196
@st0012 @hachi8833 I'm not sure whether to also convert `string` type to `rune` type in `initStringObject`? What are your opinions?

[2017-07-03 07:38] st0012 commented on #196
I'm not very familiar with `rune` type, need to spend some to do some research.

[2017-07-03 07:40] st0012 commented on #179
@hachi8833 I think this has been fixed so I am closing it. Feel free to reopen this if you have similar issues again.

[2017-07-03 07:40] #179 closed

[2017-07-03 07:40] Maxwell-Alexius commented on #196
Me, too. There's a lot to learn, then leave this issue for a moment. (I'll keep on implementing other string api in #184 )

[2017-07-03 08:04] Maxwell-Alexius opened #200 "Sort VM Methods in Alphabetical Order"
Just a simple proposal. For maintaining VM methods more easily, we can arrange the VM methods in alphabetical order, for example, in `array.go` part, the order of the methods is:

[code]

[2017-07-03 09:19] hachi8833 commented on #200
Good idea!

[2017-07-03 09:27] Maxwell-Alexius commented on #200
I may do the `range.go` and `string.go` part in the VM issue #182 and #189

[2017-07-03 09:33] st0012 commented on #200
I think do this in different PR is better because it would be easier to review.
And the PR the orders API can also reorganize the tests

[2017-07-03 09:36] Maxwell-Alexius commented on #200
OK Then I'll just implement first, reordering later

[2017-07-03 12:17] Maxwell-Alexius opened #202 "Range#bsearch Implementation"
This issue aims to implementing `Range#bsearch` in Goby Lang

[2017-07-03 12:33] #93 closed

[2017-07-03 12:37] st0012 commented on #196
@hachi8833 I think @Maxwell-Alexius already fixed this, can you help verify?

[2017-07-03 13:39] Maxwell-Alexius commented on #198
I think trailing `?` methods might be a good idea which indicates methods which returns `boolean` type. However, I think bang methods (trailing with `!`) are not necessarily need to be implemented in Goby Lang.

Although bang methods *does* warn developer that it have side-effect, but there are **too many case of side-effects** which might have a great chance to be misused.

[2017-07-03 14:03] st0012 commented on #182
@Maxwell-Alexius I'm closing this since the only unimplemented method already has its own issue.

[2017-07-03 14:03] #182 closed

[2017-07-03 14:12] Maxwell-Alexius commented on #200
Another small notice, when sorting the methods in alphabetical order, try to sort the test case as well.

[2017-07-03 16:32] st0012 opened #203 "Goby not returning error when calling a method without enough arguments"
Current behavior:

[code]

But it should raise an error like: `"ArgumentError: Expect 1 args for method 'foo'. got: 0"`
And there's a big obstacle for implementing this: default argument value

[code]

cc @hachi8833

[2017-07-03 21:39] hachi8833 commented on #203
I feel current Ruby's syntax for params in definition and args in method call are pretty mess.

Thus I guess simplifying them for Goby instead might be better:

-----------

* Conventional parameters (that do not support default values with `=`)
: `def foo(x, y, z)`

* Keyword params (that implies they cannot be omitted)
: `def bar(x: y: z:)`

* Keyword params with default value (that implies they

[2017-07-03 22:12] hachi8833 commented on #196
Confirmed `\n` `\t` works now!
I close the issue.

[2017-07-03 22:12] #196 closed

[2017-07-03 22:20] hachi8833 opened #205 "Printing in `puts` with quotation is redundant"
Current `#puts` in Goby prints quotation marks, which looks redundant.

[code]

Checked with REPL and normal execution.

[2017-07-04 02:52] Maxwell-Alexius commented on #174
Yeah, I do found out that `rune` type of string did help tackling some sort of character problems. When printing length of string, it counts the `bytes` of the string. However, `rune` type determines the character by its *codepoint*. See more on [this article](https://blog.golang.org/strings)

[code]

I do think we can convert `string` to `[]rune` type but not for all of the string api methods. Ma

[2017-07-04 03:02] st0012 commented on #203
I'll reconstruct the compiler and vm so that we can add metadata like local table to the instruction sets. This should take a few days but once we've done that it should be easier for us to make these changes.

[2017-07-04 03:09] st0012 opened #206 "Change the way we passing bytecode"
Currently compiler will compile program to bytecode in string format for easier compilation. But since we usually execute program directly the `instruction set -> bytecode string -> instruction set` transformation seems redundant. So I'll passing instruction set to vm directly and use other approach to compiler/read string formatted instructions.

[2017-07-04 08:57] st0012 opened #208 "Remove compilable feature (temporary)"
In #207 I already make Goby execute program with instruction set data structures by default. And in the near future current bytecode (string format) will be deprecated because we'll add some metadata into bytecode, which will be a new format when compiled into string.

So should I just remove the compile feature for now and add it back later or you guys have different opinion?  @adlerhsieh @hachi8

[2017-07-04 09:01] hachi8833 commented on #208
I think your idea is OK!
(I just imagined the byte code will finally be a real binary format some day)

[2017-07-04 09:07] #206 closed

[2017-07-04 09:11] #205 closed

[2017-07-04 09:22] hachi8833 commented on #205
Confirmed this is fixed!

[2017-07-04 09:51] st0012 opened #210 "Add test case index to test failed message"
Currently we can only know what test function failed but can't know what test case cause the failure, this makes debugging more harder.

[2017-07-04 09:52] adlerhsieh commented on #208
I agree that we don't necessary need the bytecode feature. Users won't feel anything different from that.

[2017-07-04 10:34] #210 closed

[2017-07-04 13:12] hachi8833 opened #213 "`include ModuleName` on top level causes panic"
* calling `include` on top level causes panic:

[code]

[2017-07-04 13:31] hachi8833 commented on #213
Adding `""` or `''` to module name on `include` also causes panic:

[code]

[2017-07-04 16:50] st0012 commented on #213
@hachi8833 The first one is bug, but the second one is not what I want to support.

[2017-07-04 21:47] hachi8833 commented on #213
Yes, just showing error is sufficient in the second case.

[2017-07-05 06:23] st0012 commented on #213
@hachi8833 Can you open a new issue for those panics that should be replaced by normal error reporting? Make it a checklist and with the link of the github source code page (with line number). Then we can close issue once first case is confirmed fixed.

[2017-07-05 06:27] st0012 commented on #208
Ok, I'll remove VM's bytecode parser but keep code generator and its tests. Because those tests still can help debugging some compiler issues.

[2017-07-05 07:06] hachi8833 opened #217 "Syntax error on `include` should print error instead of panic"
Branched from #213

[code]

In the case, error should be printed instead of panic. Ruby returns the following in the case:

[code]

[2017-07-05 08:10] st0012 opened #218 "Refactor VM for package level variable usage."
Currently `VM` uses `init()` method and package level variables for built in classes. This is a bad way to write Go program (my fault), because it'll make code harder to trace and may cause unintentional mutation on those variables and breaks the whole program.

For those who want to know more, [this article](http://peter.bourgon.org/blog/2017/06/09/theory-of-modern-go.html) has clear explanation.

[2017-07-05 08:18] hachi8833 commented on #177
Confirmed `exit` has been implemented by now.

[2017-07-05 09:51] st0012 commented on #213
I saw the new issue and I'm closing this now

[2017-07-05 09:51] #213 closed

[2017-07-05 09:51] st0012 commented on #202
This is finished, thanks @Maxwell-Alexius!

[2017-07-05 09:51] #202 closed

[2017-07-05 10:47] #208 closed

[2017-07-05 15:54] st0012 opened #221 "Instruction generation issue"
Currently the code generator doesn't pop unused expression values. So program like this:

[code]

will make value stack have 100000 integer 1.

But in test we need program to return the last expression to compare result, which means the code generator needs to be smart enough to use `pop` instruction to omit unused values and preserve the last pop before main program exit.

[2017-07-05 16:17] Maxwell-Alexius opened #222 "Empty Index in String#[] or #[]= Cause "Unexpected [ Error ""
When I try to implement the test for `String#[]` and `String#[]=`, if try to use the case:

[code]

It returns:

[code]

Instead of some kind of error message like:
[code]

[2017-07-06 13:12] st0012 opened #224 "Refactor vm's constant storage"
We currently store built in classes in both vm's `constants` and `builtInClasses`, but ideally we only need to store them in `constants`. So the goal is to remove vm's `builtInClasses` attribute.

[2017-07-06 13:54] #218 closed

[2017-07-06 14:23] st0012 opened #225 "Make sure cfp (call frame pointer) to be 0 when program exit."
This is also a tricky issue like #221. We must make sure when code execution ends the call frame pointer would be 0, because all frames should be popped.

However, this rule only applies to program that is successfully executed. If we detected an error the program would be stopped so call frames stack will remain its state.

[2017-07-07 10:09] #225 closed

[2017-07-08 08:43] hachi8833 opened #231 "BUG: `attr_accessor` causes panic on REPL"
This works when reading gb file, but causes panic around symbol.

[code]

[2017-07-08 08:53] hachi8833 opened #232 "Causes panic when providing nonexistent filename"
`goby fakefile.gb` causes panic if the file is nonexistent.

[2017-07-08 14:46] st0012 commented on #231
@hachi8833 Should be fixed in latest commit.

[2017-07-08 14:53] st0012 commented on #232
@hachi8833 Should be fixed in this [commit](https://github.com/goby-lang/goby/commit/52fddac07044e658622f91035498bde89b7f8b0d)

[2017-07-08 15:20] st0012 commented on #190
Since we don't support compile now, this can be closed.

[2017-07-08 15:20] #190 closed

[2017-07-08 21:06] hachi8833 commented on #232
Confirmed the fix! I close the issue.

FYI: yesterday I locally checked if the fix is possible, but your fix is smarter 👍

[code]

[2017-07-08 21:06] #232 closed

[2017-07-08 21:08] hachi8833 commented on #231
Confirmed the fix, too!
I close the issue.

[2017-07-08 21:08] #231 closed

[2017-07-08 21:25] hachi8833 commented on #177
Confirmed the fix by now.

[2017-07-08 21:28] hachi8833 commented on #177
Confirmed the fix by now.

[2017-07-08 21:28] hachi8833 commented on #177
Confirmed the fix by now.

[2017-07-08 21:35] hachi8833 commented on #177
This still persists a little bit, but the format of REPL has been getting much better.

The priority is not high.

Thus I close the issue for now.
(I should've split the issue in chunks.)

[2017-07-08 21:35] #177 closed

[2017-07-08 21:38] hachi8833 commented on #149
Confirmed this issue has been fixed by now.
Closing the issue.

[2017-07-08 21:38] #149 closed

[2017-07-08 21:51] hachi8833 commented on #88
I close the issue for now.

[2017-07-08 21:51] #88 closed

[2017-07-08 21:55] hachi8833 opened #233 "Going back REPL history with ↑ arrow key"
Extracted from #177.

Command history with up arrow key is not working for now:

[2017-07-08 22:02] hachi8833 commented on #188
Currently, only the first bug (with no parentheses) remains.

[code]

Confirmed the rest three has been fixed, which just shows errors instead of panic.

[2017-07-09 15:01] #224 closed

[2017-07-10 03:19] st0012 opened #236 "Add restriction about the argument order."
I think the following code doesn't make sense.
[code]

Because 1) I need to guessing which param I'm passing to when I calling the method. 2) If you think some argument is most needed, you should put it in the front.

So in Goby we need to write the code like this

[code]

And I'll try to add some mechanism to check the parameter's order according to it's type (required or optional).

BTW there is

[2017-07-10 04:07] hachi8833 commented on #236
I agree with this: Ruby's current handling of parameters/arguments with default values are mess, and simplifying it is good for Goby.

The point is how to standardize this without getting developer's antipathy.

Possible ways to restrict the order of args with default values:

* Parser level
* VM level
* Adding a standard lint lib to Goby
* Adding a standard formatter like `go fmt`
* etc.

FYI: Un

[2017-07-10 04:19] #203 closed

[2017-07-10 04:53] hachi8833 commented on #97
Just to add a memo for performance:

[code]

Brief benchmark:

[code]

I know that it is a little bit too early to tune-up Goby in current stage. Note that Ruby has long been tuned while Goby is younger, so I guess there's a plenty of rooms to tune-up in Goby.

[2017-07-10 05:24] st0012 commented on #233
@hachi8833 I have no idea how to implement this, if you know you can give it a try 😅

[2017-07-10 06:05] hachi8833 commented on #233
Memo: looks like the simple https://github.com/bobappleyard/readline would help us.
This depends on external readline lib, which is also used in Ruby.

Also found https://github.com/chzyer/readline (pure readline written in Go) but looks a little bit overkill.

[2017-07-10 06:20] hachi8833 commented on #233
I found that https://github.com/bobappleyard/readline uses cgo and looks not good for Goby.
(I think one of the advantage is C-lang dependent)

[2017-07-10 07:26] Maxwell-Alexius opened #237 "Unify Error Style Refactoring"
Another proposal. For example, inspecting the `vm/array.go` file, you can see that there are several types of error format:

`1st style: vm/array.go:58`
[code]

`2nd style: vm/array.go:101`
[code]

`3rd style: vm/array.go:243`
[code]

So, I think the error style format should all based on the third format with specific error message, such that:

Error Type|Description|Example Error Message Format

[2017-07-10 13:46] Maxwell-Alexius commented on #184
@st0012 This can be closed, I think? Because PR #239 merged.

[2017-07-10 13:58] st0012 opened #241 "Unsupported syntactic sugar"
- [x] `+=`
- [x] `-=`
- [x] `||=`

[2017-07-10 15:47] st0012 commented on #184
@Maxwell-Alexius Yap

[2017-07-10 15:47] #184 closed

[2017-07-11 02:33] Maxwell-Alexius commented on #200
Closing this issue with PR #230 & #244 Merged

[2017-07-11 02:33] #200 closed

[2017-07-11 10:19] Maxwell-Alexius commented on #122
Request Object Spec:

Design refer to [`WEBrick::HTTPRequest`](http://ruby-doc.org/stdlib-2.4.1/libdoc/webrick/rdoc/WEBrick/HTTPRequest.html):
- [ ] `Request#method @return [String]`
- [ ] `Request#port @return [Integer]`
- [ ] `Request#protocol @return [String]`
- [ ] `Request#path @return [String]`
- [ ] `Request#host @return [String]`
- [ ] `Request#query_string @return [String]`
- [ ] `Request

[2017-07-11 12:36] HexterCH opened #247 "Implement Hash API"
Import simple [Hash API](https://docs.ruby-lang.org/en/2.0.0/Hash.html)

- [x] each_key
- [x] each_value

[2017-07-11 16:15] st0012 commented on #233
This has been implemented by @hachi8833

[2017-07-11 16:15] #233 closed

[2017-07-11 16:16] st0012 commented on #187
Also fixed in #248 by @hachi8833

[2017-07-11 16:16] #187 closed

[2017-07-11 16:30] hachi8833 opened #249 "Entering `end` first causes panic on REPL"
Perhaps around `IsUnexpectedEnd()` in igb/repl.go needs fix.

[2017-07-11 16:33] hachi8833 opened #250 "Method call doesn't work when arguments have no parentheses in REPL"
[code]

[2017-07-11 16:45] hachi8833 commented on #250
Confirmed the fix. Thank you! > @st0012

[code]

[2017-07-11 16:45] #250 closed

[2017-07-11 16:53] #249 closed

[2017-07-11 16:54] st0012 commented on #249
@hachi8833 Should be fixed, try newest master commit.

[2017-07-11 16:56] hachi8833 commented on #249
Confirmed the fix, too! ❤️

[2017-07-11 16:57] st0012 commented on #247
@HexterCH Implement, not import

[2017-07-12 07:06] st0012 opened #252 "Support REPL auto indentation"
As title described, I think we can check `pry`'s implementation about this.

[2017-07-12 07:11] st0012 commented on #188
@hachi8833 I think this is fixed now

[2017-07-12 07:14] st0012 commented on #194
@Maxwell-Alexius @hachi8833 Has this been fixed?

[2017-07-12 07:20] Maxwell-Alexius commented on #194
Not yet, this needs another PR.

[2017-07-12 07:37] hachi8833 commented on #188
Confirmed no panics occur.

Upper case `require("File")` causes normal error, but does not matter so far.

[2017-07-12 07:37] #188 closed

[2017-07-12 13:29] Maxwell-Alexius commented on #247
More Hash API list from [Ruby Ver. 2.4.1](https://ruby-doc.org/core-2.4.1/Hash.html) :

- [ ] `Hash#delete` Should input `string` type or `symbol` type key
- [ ] `Hash#delete_if` or `Hash#reject` Pass in a proc which determines to delete the key or not
- [ ] `Hash#keep_if` or `Hash#select` Contrast to `delete_if` method
- [ ] `Hash#key?` or `Hash#has_key?` or `Hash#member?` ` @return [Boolean]`
-

[2017-07-12 16:22] hachi8833 commented on #252
I'm writing test for REPL.
Unfortunately, [readline](https://github.com/chzyer/readline) package contains no tests, I wonder why. I'm wondering how to feed inputs to stdin and retrieve the result from stdout.

[2017-07-12 17:12] st0012 commented on #252
@hachi8833 I have tried sending input to stdin and failed, that's why the old REPL start function use channel to receive value instead of using stdin directly.

[2017-07-12 17:22] hachi8833 commented on #252
Changing to external testing tool like miniTest might be required for RELP.

[2017-07-13 03:27] st0012 commented on #252
Why this would help?

[2017-07-13 03:29] hachi8833 commented on #252
I'm unsure around that for now. Let me see...

[2017-07-13 03:39] st0012 opened #256 "Add comment to test cases"
Currently we have a lot test cases, it's great but also make people confusing when debugging since we don't know what those cases suppose to test. So we should add some comment in test cases(not necessarily all of them), especially those tests about testing syntax's edge cases.

[2017-07-13 04:12] #101 closed

[2017-07-13 04:16] st0012 commented on #78
Since we won't support third-party libraries before September or even October, I'll close this and open a new issue when we're going to support it.

[2017-07-13 04:16] #78 closed

[2017-07-13 04:19] st0012 commented on #236
@hachi8833 I'll make this a parser error first.

[2017-07-13 04:20] st0012 opened #257 "Support break statement"

[2017-07-13 13:18] hachi8833 opened #258 "Invalid`#name` causes panic instead of error in some cases"
Can be reproduced both normal run and REPL.

[code]

[code]

Looks like `#name` often causes panic on other objects.

[2017-07-13 13:21] st0012 commented on #258
@hachi8833 Can you also paste stack traces of the panic? Thanks!
(This would be helpful so please also paste them in future issues.)

[2017-07-13 13:33] hachi8833 opened #259 "Unclosed quotation marks causes panic"
Checked with REPL and normal execution. (Checked with master branch as well)

* The following causes panic:

[code]

* The following behaves as if the quotation is implicitly closed on the end of line 1.

[code]

The behaviors should be fixed on normal execution and REPL.

(Ruby treats both of them as the quotation is not closed)

[2017-07-13 13:55] hachi8833 opened #260 "Invalid behaviors in assignment/comparison"
Checked with REPL for now.

* On invalid assignments, Ruby returns 'unexpected '=', expecting end-of-input' correctly, but Goby returns the right side term:

[code]

* Comparisons between different types does not work correctly:

[code]
In addition, the error messages are inconsistent.

They should be fixed, as well as adding tests for all combination of objects.

[2017-07-13 14:06] st0012 commented on #260
The error styling issue is related to #237 and I'll fix the invalid assignment issue.

[2017-07-13 14:11] st0012 opened #261 "Add assignment expression"
Currently variable assignment are consider as infix expression. This issue is for separating assignment to its own `AssignmentExpression`

[2017-07-13 14:49] hachi8833 commented on #258
I got it!

Correction: I found the issue above on "enhancement/issue-174-and-issue-194" branch while reviewing. Now I checked this in master branch and still causes the issue.

[code]

[2017-07-13 14:52] st0012 commented on #258
@hachi8833 This is a easy one. It's because String doesn't implement `name` method, so the method lookup reached Class#name. And since we don't check type assertion's result and returns right error message (my bad), it just panic.

[2017-07-13 14:59] hachi8833 commented on #260
Thank you very much!
I'm checking all possible combinations between Ruby and Goby, and will report here.

[2017-07-13 15:46] #261 closed

[2017-07-13 16:55] hachi8833 opened #263 "`String#gsub` and `String#replace`"
Not so in a hurry.

During checking #254, I noticed that [`String#replace` in Ruby](https://ruby-doc.org/core-2.4.1/String.html#method-i-replace) (plus `#replace` for other classes) is just redundant because this is equivalent to normal assignment `=`. This looks a little bit silly (sorry!).

Seeing current `String#gsub` utilizes Golang's function for simple replacement, which is faster than the r

[2017-07-14 05:58] Maxwell-Alexius commented on #263
Yes, I am also thinking that not only `String#replace` (but also `Hash#replace` in #247) in Ruby is so weird, the behaviour is stated exactly the same as normal assignment `=`.

So I think it's a better idea to just use `gsub` and remove the `replace` method.

I have no opinion about renaming the method. Do the name `gsub` frequently used in other language.

[2017-07-14 09:20] Maxwell-Alexius commented on #194
Close this issue with PR #254 merged

[2017-07-14 09:20] #194 closed

[2017-07-14 09:21] Maxwell-Alexius commented on #174
Close this issue with PR #254 merged

[2017-07-14 09:21] #174 closed

[2017-07-14 09:43] Maxwell-Alexius opened #264 "Support Data Type Checking Methods"
The reason I open the issue is when I try to do some type checking, for example, run:

[code]

It prints out `UndefinedMethodError: Undefined Method '==' for nil`. However, I do not considered this as a bug because it is not implemented. So, this issue aims to support for type checking, including adding methods:

- [x] `Null#nil?` (or because currently didn't support the `?` method, so we can use

[2017-07-14 16:11] Maxwell-Alexius opened #265 "Sort Goby Hash Keys in Certain Order"
The hash pair order in REPL seems not corresponding to the input order, e.g., when I try to print out simple hash:

[code]

Any idea?

[2017-07-14 16:30] st0012 commented on #265
@Maxwell-Alexius This is because we use Go's map to store pairs, and in Go map's key/value are random ordered.

[2017-07-15 02:10] Maxwell-Alexius commented on #265
I'll try to find a solution for this case, thanks!

[2017-07-15 02:19] Maxwell-Alexius commented on #265
@st0012 Maybe we can sort the keys in alphabetical order so that we can guarantee that the hash will be appear in certain order in Goby lang?

https://stackoverflow.com/questions/23330781/sort-golang-map-values-by-keys

[2017-07-15 03:41] st0012 commented on #265
@Maxwell-Alexius I think we should just sort them in `toString` method, and keep it random in other places. I remember I read a post about why Go made this random decision but I can't find it now. @hachi8833 Do you know why?

[2017-07-15 04:24] hachi8833 commented on #265
Looks like [the article](https://nathanleclaire.com/blog/2014/04/27/a-surprising-feature-of-golang-that-colored-me-impressed/) is the one.

* As for Ruby, the order of Hash items had not been guaranteed by 1.8: [1.9 or higher](https://www.igvita.com/2009/02/04/ruby-19-internals-ordered-hash/) guarantees the order of Hash items.

[2017-07-15 05:53] Maxwell-Alexius commented on #265
@st0012 @hachi8833 Thanks, I think I can adjust this feature request which is listed below:

- [ ] Proposal I. There is no need to sort or order the Hash key-value pairs. However, for some method implementation, like `Hash#keys`, we can return an array of keys of hash in alphabetical order. (Affect some Hash API method implementation in #247)

- [ ] Proposal II. Remain current arbitrary state of t

[2017-07-15 06:05] st0012 commented on #265
I actually agree that the hash shouldn't guarantee the key's order, so I suggest keep it this way. But maybe we can provide some extra API like `sorted_keys` for those who need the keys sorted.

[2017-07-15 06:40] st0012 commented on #264
@Maxwell-Alexius The nil checking method is actually very easy to implement, see: https://www.leighhalliday.com/is-it-nil
And `is_a` can be implemented by comparing class's name.
I think you can implement all these in about 1 hour

[2017-07-15 06:59] Maxwell-Alexius commented on #265
Okay, got it ~

[2017-07-15 07:00] Maxwell-Alexius commented on #264
Okay, thanks for the information

[2017-07-15 07:20] Maxwell-Alexius commented on #247
According to the discussion from #265, there will be some methods which involves the order of the hash pairs, including:

- [ ] `Hash#sorted_keys`
- [ ] `Hash#to_a` If input specified `true` (default is arbitrary order), then it will return a sorted key-value pair of two-dimensional array, e.g. `{ a: 1, b: 2, c: 3 }.to_a # => [["a", 1], ["b", 2], ["c", 3]]`
- [ ] `Hash#each_key` If input specified

[2017-07-15 13:03] #222 closed

[2017-07-15 23:10] hachi8833 opened #269 "Unicode normalization feature on string"
Not in a hurry.

Ruby has a method for Unicode normalization: https://ruby-doc.org/stdlib-2.2.1/libdoc/unicode_normalize/rdoc/String.html

We can use the following official packages for normalization:

* http://godoc.org/golang.org/x/text/unicode/norm
* http://godoc.org/golang.org/x/text/collate

Rob Pike's [blog](https://blog.golang.org/normalization) is the primary reference.

[2017-07-16 06:29] st0012 opened #271 "List REPL's test cases"
Although we can't test REPL use programs, we still need to list some test cases for manual testing.

[2017-07-16 06:42] hachi8833 opened #272 "REPL: class_test.go#265 causes panic"
[class_test.go#265](https://github.com/goby-lang/goby/blob/master/vm/class_test.go#L265) causes panic on REPL (Works fine on normal execution)

[code]

[2017-07-16 07:21] st0012 commented on #272
@hachi8833 do you want to give it a try first? I think it's related to the difference between normal and REPL execution environment, the call frame part

[2017-07-16 07:24] hachi8833 commented on #272
I'd be glad if you look into it first: looks pretty hard to me for now 🙇
Now I'm checking the possibility of auto-completion in REPL.

[2017-07-16 08:23] Maxwell-Alexius opened #273 "Panic on Method that Without Block to Yield"
While I'm trying to add test case for some methods like `Hash#each_key`, `Hash#each_value`, `Hash#map_values`...etc which requires a block to yield. There is a case when developer don't give a block, it does print out the error message:

[code]

However, it still panic the program and exited from REPL.

[code]

[2017-07-16 14:34] st0012 commented on #273
@Maxwell-Alexius I modified the behavior, can you rebase and try again?

[2017-07-16 14:51] st0012 commented on #272
https://github.com/goby-lang/goby/blob/master/vm/evaluation_test.go#L522 This would also fail

[2017-07-16 15:40] Maxwell-Alexius commented on #273
I'm not sure, the error message pop out like this:

[code]

In PR #267, I think another solution is to use this (which I also commented on that PR also):

[code]

What do you suggest?

[2017-07-16 16:50] st0012 commented on #273
@Maxwell-Alexius The second panic is not raised by Goby, it's because there's a bug in program so you should follow the trace and see what causes this.

[2017-07-17 02:34] hachi8833 opened #275 "`String#to_a` should return quoted characters"
Current `string#to_a` returns unquoted characters.

[code]

Though the returned elements of the array are actually String class, they should return quoted array like `["🍣", "a", "b", "c", "漢", "字"]` for consistency.

[2017-07-17 02:39] #252 closed

[2017-07-17 02:44] hachi8833 commented on #221
Looks this can be closed. How about this?

[2017-07-17 03:02] st0012 commented on #272
@hachi8833  https://github.com/goby-lang/goby/commit/29e65ebc6f29e770eb09c4e662668075c2177432 should fix this issue. The explanation is written in commit message.

[2017-07-17 03:05] st0012 commented on #221
I haven't put SP check on every tests, I'll close this after we can be sure this is solved in tests.

[2017-07-17 03:21] hachi8833 commented on #272
Checked all test codes in evaluation_test.go with REPL and works fine.
Amazing work!
I close the issue.

[2017-07-17 03:21] #272 closed

[2017-07-17 04:15] Maxwell-Alexius commented on #275
I think this issue can be solved by adding quotes in the `toString()` method in `vm/string.go`. I'll check this out later

[2017-07-17 04:17] Maxwell-Alexius commented on #273
Okay, I'll check it out > <

[2017-07-17 06:05] hachi8833 commented on #198
Implementing the trailing `?` first looks good.
We can decide adopting `!` or not later.

[2017-07-17 07:59] #275 closed

[2017-07-17 09:11] Maxwell-Alexius opened #279 "Panic on Index Value Out of Range When Input is *RClass Type"
I found out that when **successively input only `*RClass` type**(which is `Class` type in Goby) , it will panic which states that `index value out of range`. For instance:

[code]

In the example, it should output:

[code]

I found out that the problem is in the `vm/instruction.go:343` which:

[code]

the `receiverPr` is `-1`. Any advice to solve this?

[2017-07-17 09:19] Maxwell-Alexius commented on #279
Another case is that **the receiver and the first argument** are `*RClass` type, it will also cause the same panic stated above. For instance:

[code]

However, once again, if there are successive input of `*RClass` object in program, it cause the same panic:

[code]

[2017-07-17 09:34] hachi8833 commented on #279
Looks like you need Stan's help. @st0012

[2017-07-17 12:21] st0012 commented on #279
@Maxwell-Alexius See #280

[2017-07-17 15:42] #279 closed

[2017-07-18 00:07] hachi8833 opened #281 "`File#size` causes panic on nonexistent filename"
Checked with REPL and normal execution.

[code]

Running:

[code]

[2017-07-18 04:55] Maxwell-Alexius commented on #260
I think I know how to solve the comparison part. Working on it.

[2017-07-18 04:57] hachi8833 opened #283 "Top level comment `#` causes panic only on REPL"
[code]

[2017-07-18 08:00] st0012 commented on #281
This should be fixed in #284

[2017-07-18 08:00] st0012 commented on #273
This should be fixed in #284

[2017-07-18 08:22] Maxwell-Alexius commented on #258
Closed with PR #282 Merged

[2017-07-18 08:22] #258 closed

[2017-07-18 08:34] Maxwell-Alexius commented on #237
Closed with #284 Merged

[2017-07-18 08:34] #237 closed

[2017-07-18 09:32] Maxwell-Alexius opened #286 "Comparison Operator Parsing"
The REPL result is illustrated below:

[code]

This behaviour, which is:

[code]

might be returning error object or indent the next line waiting for user to input the next inline expression to be the parameter of the `#==` method

And the second behaviour, which is:

[code]

In Ruby, it returns `SyntaxError: (irb):1: syntax error, unexpected ',', expecting end-of-input`, but maybe in Goby it can

[2017-07-18 09:33] Maxwell-Alexius commented on #273
Closed with confirmed fixed in PR #284 which is also being merged.

[2017-07-18 09:33] #273 closed

[2017-07-18 13:58] hachi8833 opened #287 "Invalid instance variable causes panic"
Note that the placement of instance variable `@inst` is meaningless and invalid.
Ruby just ignores the invalid `@inst = 1`. I wonder if Goby should warn this or not.

[code]

[2017-07-18 14:54] hachi8833 opened #288 "Proposition: arrange VM structure"
Current VM structure has been rapidly growing up and I feel they should be categorized by now.

![image](https://user-images.githubusercontent.com/4289625/28323097-cc93bd7a-6c12-11e7-934d-99803451ba21.png)

* **vm**: vm/instruction/call_frame/environment, and tests
  * **thread**: thread/channel/stack, and tests
  * **core**: array/boolean/class/error/hash/null/object/range/string, and tests
  * *

[2017-07-18 15:32] st0012 commented on #288
@hachi8833 This would be a tricky one because it can easily cause circular dependency error. We need to develop a pattern for this refactoring.

[2017-07-18 15:34] st0012 commented on #287
I think I'll block this kind of usage during parsing.

[2017-07-18 16:09] hachi8833 commented on #288
I got it! We should be prudent for refactoring.

[2017-07-19 04:58] hachi8833 opened #289 "Comparison against `Class` or `Object` causes panic"
Now I found on #285 that:

[code]

This panic occurs if either `Class` or `Object` is the receiver.

[code]

This should be fixed after #285 has been merged.

[2017-07-20 07:30] hachi8833 opened #290 "Uninitialized constant causes panic"
Ruby:

[code]

Goby:

[code]

[2017-07-22 12:04] st0012 opened #293 "Implement all type conversion methods for plugin and struct"

[2017-07-23 02:49] st0012 commented on #260
This seems to be fixed in #285

[2017-07-23 02:49] #260 closed

[2017-07-23 02:49] #281 closed

[2017-07-23 02:52] #290 closed

[2017-07-23 03:09] #283 closed

[2017-07-23 03:51] #287 closed

[2017-07-23 03:54] st0012 commented on #287
@hachi8833 I thought that class should be able to have instance variables, so I won't block this kind of behavior. And you can see the commit that closes this issue has some test about it.

[2017-07-23 05:17] hachi8833 opened #294 "`include()` does not work well only in REPL"
The following works well in Ruby(run from file & REPL) and Goby(run from file).

[code]

In Goby REPL, the following error occurs after returning `50`.

[code]

Looks like `include` does not work well only in REPL.

[2017-07-23 05:23] hachi8833 commented on #294
FYI: this works in all cases:

[code]

[2017-07-23 05:30] Maxwell-Alexius commented on #264
This should be closed with PR #274 Merged

[2017-07-23 05:30] #264 closed

[2017-07-23 05:30] Maxwell-Alexius commented on #247
This should be closed with PR #267 Merged

[2017-07-23 05:30] #247 closed

[2017-07-23 05:39] hachi8833 opened #295 "`sleep()` with no arguments causes panic"
`#sleep` causes panic when no arguments are given.

[code]

FYI: `sleep(1)` works.

[2017-07-23 05:49] hachi8833 opened #296 "Trailing comment `#` suppresses result in REPL"
Trailing comment `#` unexpectedly suppress result in REPL:

[code]

--------------
FYI: Ruby's `pry` has a hidden feature that trailing `;` can be used for suppressing echo back like:

[code]

[2017-07-23 05:59] hachi8833 opened #297 "Assignments in argument of `puts()` causes panic"
FYI: `puts(a == 10)` works.

[code]

[2017-07-23 06:02] hachi8833 commented on #297
Another pattern:

[code]

[2017-07-23 06:38] st0012 commented on #297
The first case is because that goby currently returns nothing ( not even nil) when assign variables
And the second one is caused by the missing parens around file name I guess. Does this case works in ruby?

[2017-07-23 06:42] hachi8833 commented on #297
Yes, the following works in Ruby:

[code]

[2017-07-23 14:07] #295 closed

[2017-07-23 14:11] st0012 commented on #296
@hachi8833 I think you should be able to fix this, so I assign it to you first.

[2017-07-23 22:49] hachi8833 commented on #296
I got it.

Now I found that the following works:

`puts("string" + "string") #`

The issue may affect when arguments are not surrounded by parens.

[2017-07-23 22:53] hachi8833 commented on #296
In addition, `puts "string" + "string" #` causes unexpected suppression on normal execution as well.
Looks like the issue comes from parser.

[2017-07-24 08:26] Maxwell-Alexius commented on #265
This should be closed because PR #247 completed.

[2017-07-24 08:26] #265 closed

[2017-07-24 09:47] hachi8833 opened #299 "Unindentation might drop statements in REPL"
The following comes from [statement_test](https://github.com/goby-lang/goby/blob/master/vm/statement_test.go#L273) and the result in REPL is different from normal execution:

[code]

Changing `x` to `y` in `while` condition, the following goes infinite loop.

[code]

Looks like the line `y = y + 1` is missing when unindenting.

[2017-07-24 13:02] #299 closed

[2017-07-24 13:03] st0012 commented on #271
I think we should start listing this now

[2017-07-25 07:11] Maxwell-Alexius opened #302 "Write Test Script for HTTP Library with Rspec"
Using Rspec and open Goby server to test the HTTP request & response result

[2017-07-25 11:06] hachi8833 commented on #271
Now I'm writing test cases like the following. I'd PR later.

--------

## Steps to test Goby REPL(Igb)

Currently we are unable to perform automated tests against REPL. Follow the steps to test REPL manually.

* green promot: `» `
* red prompt: `¤ ` -- always indented
* yellow prompt: `#» ` -- result line

### 1. Basic operations

1. `goby -i` to start Igb.
    * expected:
        * startup massa

[2017-07-25 12:10] hachi8833 commented on #271
Closing the issue...

[2017-07-25 12:10] #271 closed

[2017-07-25 12:52] st0012 commented on #297
@Maxwell-Alexius I think the second error is related to parser, you can fix it if you want to play with parser more.

[2017-07-25 13:02] #289 closed

[2017-07-26 07:11] st0012 commented on #294
@hachi8833 This seems to be fixed on current master branch, can you confirm it?

[2017-07-26 07:28] hachi8833 commented on #294
Confirmed the issue has been fixed on current master.
Closing issue...

[2017-07-26 07:28] #294 closed

[2017-07-26 07:39] Maxwell-Alexius opened #306 "Assignment Operation Without Value"
For instance, currently the assignment without value will pop out `panic: runtime error: invalid memory address or nil pointer dereference`.

We can assign value in the next line or later on in REPL:

[code]

[2017-07-27 02:40] #257 closed

[2017-07-27 02:43] st0012 commented on #286
I think this' priority is low for now

[2017-07-27 02:51] st0012 commented on #175
@hachi8833 I'm going to implement this now

[2017-07-27 06:15] #241 closed

[2017-07-27 16:02] #175 closed

[2017-08-01 08:01] #129 closed

[2017-08-01 08:01] #297 closed

[2017-08-01 11:42] Maxwell-Alexius opened #313 "Support Symbol as Key Value of Hash Object"
For example,

[code]

[2017-08-01 11:58] #313 closed

[2017-08-03 07:11] st0012 commented on #125
I think we already largely increased error condition's test coverage, so this can be closed.

[2017-08-03 07:11] #125 closed

[2017-08-03 07:23] #221 closed

[2017-08-03 13:14] st0012 commented on #306
After do some research I think this might be REPL's issue more than parser's issue. @hachi8833

[2017-08-05 10:40] st0012 opened #317 "Chaining assignment causes unexpected reference"
[code]

[2017-08-06 16:06] st0012 opened #319 "Go plugin compilation is not thread safe"

[2017-08-09 04:52] #317 closed

[2017-08-09 04:53] st0012 commented on #180
Eventually I implemented the `DB` library but currently only support PG adapter.

[2017-08-09 04:53] #180 closed

[2017-08-09 04:56] st0012 commented on #217
@hachi8833 Currently the reason that causes panic is actually the `#=> panic` comment. The code itself is fine.

[2017-08-10 08:29] #217 closed

[2017-08-10 10:07] st0012 commented on #198
Result: Already supported trailing `?` and not going to support `!`.

[2017-08-10 10:07] #198 closed

[2017-08-10 12:00] st0012 commented on #296
@hachi8833 This seems to be fixed, please help me confirm that

[2017-08-10 12:53] hachi8833 commented on #296
Now works fine!
Thank you @st0012

[2017-08-10 12:53] #296 closed

[2017-08-11 02:30] hachi8833 opened #327 "Missing `=` causes panic"
[code]

Happened to find that the invalid Goby code above causes the following panic on REPL.

[code]

[2017-08-11 15:48] st0012 opened #328 "Support elsif keyword"

[2017-08-12 14:29] st0012 commented on #328
@shuheiktgw This task only touch the compiler part for generating right instructions. You should be familiar with this since you also took nand2tetris 😆

[2017-08-12 15:18] #43 closed

[2017-08-12 15:38] st0012 commented on #259
@hachi8833 Currently I just ignore the content in unclosed string, it's not a very ideal way but can prevent panicking.

[2017-08-15 03:07] Maxwell-Alexius opened #330 "Support String Interpolation in Goby"
[code]

Only double quotation mark support string interpolation + escaped character; Single quotation mark parse escaped character only

[2017-08-15 03:33] st0012 commented on #330
@Maxwell-Alexius I'm thinking support formatting string in Goby first like:
[code]
This is less convenient but easier to implement.

[2017-08-15 08:19] Maxwell-Alexius opened #331 "Support Form-Data Parsing to JSON in HTTP Request Object"

[2017-08-16 13:00] hachi8833 opened #334 "`Class.class` causes panic"
[code]

[2017-08-16 13:10] #334 closed

[2017-08-16 14:33] hachi8833 opened #335 "Feature request: debug printing by `pp` package"
https://github.com/k0kubun/pp

The `pp` package is excellent for colorized debug printing.
I suggest adopting this as `#dp` method for Goby's debug printing.

I suppose implementing `Class#dp` will be very easy: just adding one wrapper function in Golang is sufficient, which would also let exploring Goby much more fun.

*Looks good for upcoming Goby-contributors' first play. Feel free to try this!

[2017-08-17 01:24] st0012 opened #338 "Use "`" to replace Ruby's heredoc syntax"

[2017-08-19 02:54] Maxwell-Alexius opened #342 "Implement Enumerable Module"
`Enumerable` module in Ruby originally was included in Array class and it has pre-defined methods such as the `#map`, `#select` and `#reduce`. In original Ruby, it requires also to define the `#each` method when included Enumerable module.

[2017-08-19 08:07] Maxwell-Alexius opened #343 "Hash Key Can't Start With Uppercase Bug"
Error log:
[code]

[2017-08-19 15:47] st0012 commented on #343
@Maxwell-Alexius This should be fixed. Please help me confirm it.

[2017-08-19 16:22] Maxwell-Alexius commented on #343
Closed with confirm fixed in commit 83f74aed3c671a8c47fccb1fd717b276f8004d60

[2017-08-19 16:22] #343 closed

[2017-08-21 00:22] hachi8833 opened #344 "Class/module definition with lowercase causes panic"
[code]

Same as class definition with lowercase name.

[2017-08-21 01:17] #344 closed

[2017-08-21 05:20] st0012 commented on #328
This has already been implemented by @shuheiktgw

[2017-08-21 05:20] #328 closed

[2017-08-21 05:21] st0012 commented on #72
Seems all checked!

[2017-08-21 05:21] #72 closed

[2017-08-21 05:22] st0012 commented on #122
I'd say we already meet the requirement for first release. The rest unfinished parts should be place in other issue.

[2017-08-21 05:22] #122 closed

[2017-08-21 05:23] st0012 commented on #236
I already make the behavior same as Ruby, this restriction is not necessary now.

[2017-08-21 05:23] #236 closed

[2017-08-21 05:26] st0012 commented on #259
I'll close it since it won't panic anymore. And we should create a new one if we want to change current behavior.

[2017-08-21 05:26] #259 closed

[2017-08-21 05:27] st0012 commented on #134
We're focusing on building API server now, this feature seem to be redundant.

[2017-08-21 05:27] #134 closed

[2017-08-21 12:31] hachi8833 opened #346 "Multiple assignment does not work in Igb"
[code]

The test code works, but in Igb both `puts a` and `puts b` return 1.

[2017-08-23 06:56] Maxwell-Alexius opened #348 "Establish Goby Standard Logger Library"
which includes the feature that can output the db query to the stdout

[2017-08-23 07:02] Maxwell-Alexius opened #349 "Create STDOUT & STDERR Constant"

[2017-08-23 15:57] st0012 opened #350 "Logic operator's execute order is wrong"
Example:

[code]
In Ruby if `b` is not a false value, than the expression returns.
But in Goby it'll execute like `(a || (b || c))`. This is because we treat the operators as method instead of special keyword.

[2017-08-23 16:08] st0012 opened #351 "Goby library management"
There are two possible approaches to do the package management thing.

First is doing it like Ruby the community does: manage all gems in one place and share them between all projects. Can take a look at how mruby does this: [mgem-list](https://github.com/mruby/mgem-list),  [mrbgems](https://github.com/mruby/mruby/blob/master/doc/guides/mrbgems.md) (thanks for @hanachin for provide these informati

[2017-08-23 16:32] st0012 opened #352 "Better Error report"
Currently we can see where causes a error, but only for Goby code. If a error happens in a builtin (written in Go) method's block argument then we'd never know what's going on.

[2017-08-24 01:21] st0012 opened #353 "Better JSON parsing function"
Currently if JSON's format is invalid, it just raise error and exit the program. We should let it return two values: `[result, valid]`. If it's not valid, the valid value will be `false` and result will be `nil`

[2017-08-24 02:41] jpillora opened #354 "Sample Todo app is broken"
Sample todo app http://sample.goby-lang.org/  is currently broken. It's returning invalid JSON at http://sample.goby-lang.org/items.

[2017-08-24 03:09] st0012 opened #355 "Need methods to escape characters"
like `"foo <span style="color:red">bar</span>"` should be `"foo <span style=\"color:red\">bar</span>"`

[2017-08-24 03:10] st0012 commented on #354
@jpillora Thanks for reporting! Due to the lack of escaping methods we didn't cover these cases 😢. Fixing now.

[2017-08-24 03:28] st0012 commented on #354
@jpillora Already block this kind of content, thanks again 🙏

[2017-08-24 03:32] Maxwell-Alexius commented on #355
This is the log in interactive Goby, seems the `\"` has some problem which I never expected :

[code]

[code]

[2017-08-24 04:38] jpillora commented on #354
No worries :)

[2017-08-24 04:38] #354 closed

[2017-08-24 06:26] hachi8833 opened #357 "Add testing framework"
Candidate
* miniTest-like style
* RSpec-like style
* Go-like style

miniTest-like style would look nice.

See [Slack discussion](https://goby-lang.slack.com/messages/C695M3BBQ/p1519907315000510).

Reference for implementing a basic RSpec-like framework: http://pdabrowski.com/blog/ruby-on-rails/testing/build-your-own-rspec.

[2017-08-24 09:48] Maxwell-Alexius commented on #342
Hint: * means if no block given, then returns the Enumerator itself

Method list implementation:

- [ ] `Enumerable#all?` Returns `true` if the block never returns `false` or `nil`
- [ ] `Enumerable#any?` Returns `true` if the block ever returns a value other than `false` or `nil`
- [ ] `*Enumerable#chunk` Enumerates over items and chunking them together based on the return value of block
- [ ] `E

[2017-08-25 00:52] darknessforcetw opened #359 "package plugin: unrecognized import path "plugin" (import path does not begin with hostname) on ubuntu 17.04"
It already set $GOPATH
[code]
Try to use ```go get github.com/goby-lang/goby ``` on ubuntu
and it will echo package plugin: unrecognized import path "plugin" (import path does not begin with hostname) on ``` ubuntu 17.04 ```

[2017-08-25 00:56] st0012 commented on #359
Do you setup `$GOROOT` as well? `Plugin` is Go's standard library and you need to tell Go where to find its standard libraries by pointing `$GOROOT` to the downloaded/installed folder.

[2017-08-25 01:26] darknessforcetw commented on #359
Thanks!
I set a wrong $GOROOT
It's work now

[2017-08-25 01:32] st0012 commented on #359
Glad I helped 😄

[2017-08-25 01:32] #359 closed

[2017-08-25 03:32] darknessforcetw opened #360 "panic: runtime error: index out of range [recovered] for require 'file'"
```goby -i ```

[code]
require 'json'
is true

I try to run the test.sh
[code]

[2017-08-25 04:04] st0012 commented on #360
@darknessforcetw Can you tell me 1) How did you install Goby, from source right? 2) Did you set `$GOBY_ROOY`?

[2017-08-25 04:45] st0012 commented on #360
@darknessforcetw BTW if you run the same command on latest master you shouldn't see those scary stack traces. It should tell you that you didn't set `$GOBY_ROOT` properly.

[2017-08-25 05:22] darknessforcetw commented on #360
yap!  From source the goby version is 0.1.1
I set ```GOBY_ROOT=$GOPATH/src/github.com/goby-lang/goby``` and ```apt-get remove Goby I```
It's work @_@
Thank you for much

[2017-08-25 06:56] st0012 commented on #360
@darknessforcetw Feel free to ask if you meet any problems 😄

[2017-08-25 06:56] #360 closed

[2017-08-25 07:06] st0012 commented on #353
After some thinking I added `JSON.validate` instead of returns an array. Because `JSON.parse`'s is frequently used in Ruby, and change that might surprise many developers.

[2017-08-25 07:06] #353 closed

[2017-08-25 07:39] pannous commented on #350
at least operators works in goby ++
[code]

[2017-08-25 08:16] pannous opened #362 "Channel usage"
how do I use goby channels correctly?

This doesn't work as expected:
[code]

[2017-08-25 09:19] st0012 commented on #362
This expected, if you write corresponding Go program it will behave the same.

[code]

This is because some thread's execution is slower than the speed program reaching `puts(c.receive)`. If you want this program behaves as you expected, you should block the main thread until last thread finishes. But that'd be meaningless for using thread.

[2017-08-25 09:23] pannous commented on #362
ah, makes sense, thanks

[2017-08-25 09:23] #362 closed

[2017-08-25 09:23] st0012 commented on #362
BTW @pannous  you should join our slack: https://goby-lang-slackin.herokuapp.com 😄

[2017-08-25 12:29] glenfordwilliams opened #363 "Mixing with go applications"
Hey cool project, I'm curious to know about the possibility of calling the goby interpreter from go applications.

If possible then goby could be more than just a project aiming for web based apis

[2017-08-25 14:12] st0012 commented on #363
Yes.
Goby's compiler, vm are both packages. So using the plugin system https://goby-lang.gitbooks.io/goby/content/plugin-system.html can call them during the runtime.

[2017-08-25 17:48] grosser opened #365 "show benchmarks on the webpage/repo"
I'd like to know that it's at least faster then ruby and not 10x slower than go before trying this out :D

[2017-08-26 01:19] st0012 commented on #365
Um....This project is only 6 months old, and we still busy implementing features/fixing bugs so we have no time to do optimizations like inline method cache, inline constant cache...etc.

I suggest you to subscribe our newsletter through [here](https://sample.goby-lang.org) and we'll notify you once we are confident about Goby's performance :-)

[2017-08-26 01:24] grosser commented on #365
rss / news history would also be nice ... but I'll try the newsletter :)

On Fri, Aug 25, 2017 at 6:19 PM, Stan Lo <notifications@github.com> wrote:

[2017-08-26 15:46] st0012 commented on #365
@grosser Thanks!

[2017-08-26 15:46] #365 closed

[2017-08-28 02:17] st0012 commented on #355
@Maxwell-Alexius Can this be closed?

[2017-08-28 02:24] Maxwell-Alexius commented on #355
Yep! Thanks Stan!

[2017-08-28 02:24] #355 closed

[2017-08-28 02:57] ear7h opened #370 "Request: HTTP post request"
Method for sending http POST requests

[2017-08-29 15:50] st0012 opened #374 "Support splat arguments"
Since our current goal is to bind with Go, we need to support splat arguments for using some Go functions.

[2017-08-30 17:44] bronzdoc opened #375 "Can't install goby with "go get""
Before you submit the issue, please provide us following information:

- Your operating system
[code]

- How did you install Goby
- Goby version
- The value of `$GOBY_ROOT`
- Error messages

If you have trouble building Goby on your machine, please check `$GOPATH` and `$GOROOT`

I'm trying to install goby with `go get github.com/goby-lang/goby` and i'm getting the folowing error: `package plugin:

[2017-08-31 03:18] ear7h commented on #370
Solved here
https://github.com/goby-lang/goby/commit/7c6d3804086e3ae07579983398c5a95a999058ff

[2017-08-31 03:18] #370 closed

[2017-08-31 05:29] st0012 commented on #375
The reason of this error is because Go can't find its `plugin` standard package. Can you type `go env` and post the result here?

[2017-08-31 05:31] Maxwell-Alexius opened #377 "Implement Goby "OS" Standard Library"
Note: Try to integrate with the Go `os` library

[2017-08-31 05:52] Maxwell-Alexius opened #378 "Should Use Newline when String Breaks Into Multiple Lines Else Returns Error"
Goby REPL Log:

[code]

IRB Implementation:

[code]

[2017-08-31 05:55] Maxwell-Alexius opened #379 "Implement Primitive Data Type - Float"

[2017-08-31 13:50] bronzdoc commented on #375
@st0012  I just noticed the plugin standard package was introduced in `Go 1.8` and i'm using `Go 1.7`

So an update to the installation from source section should be made specifying `Go 1.8` is needed?

[2017-08-31 14:18] st0012 commented on #375
Sorry I forgot to mention that we're currently using Go 1.9. Other versions won't compile

[2017-08-31 15:02] #375 closed

[2017-09-01 02:40] #374 closed

[2017-09-03 05:58] #350 closed

[2017-09-05 16:45] st0012 commented on #377
We need to discuss what api should we implement. Because Ruby doesn't have any library like this.

[2017-09-06 16:11] #349 closed

[2017-09-07 22:42] ear7h opened #395 "'goby env' implementation"
Calling something like `goby -r` (for report) in a terminal emulator to open https://github.com/goby-lang/goby/issues/new

Would make it easier to bring attention to bugs, but also might oversaturate the number of issues reported.

[Proof of concept](https://gist.github.com/hyg/9c4afcd91fe24316cbf0)

[2017-09-07 22:49] ear7h commented on #379
How are we doing on this? I could help implement this on the vm level, implementing builtin methods like [ruby](https://ruby-doc.org/core-2.2.0/Float.html). However, compiler/interpreter level implementations are a bit out of my reach

[2017-09-08 02:07] st0012 commented on #379
@ear7h Because I have a talk next week (it's about Goby!) and I'm busy working on it, so this issue will be pending until I get back from Japan.

[2017-09-08 02:11] st0012 commented on #395
@ear7h You mean we automatically open their browser and visit the issue page? If so, I don't think this is necessary and user might feel uncomfortable about this.

But we can provide something like `goby env` to print out all the informations that can help us debugging.

[2017-09-08 05:35] kopylovvlad opened #396 "Why does loop do not support variables without brackets"
This example of loop works perfectly.
<%
i = 1
while i < 10 do
  puts i
  i += 1
end
%>

If I replace '10' by variable 'l' and add brackets, it also works perfectly.
<%
l = 10
i = 1
while (i < l) do
  puts i
  i += 1
end
%>

But if I rewrite loop without brackets, I have an error.
<%
l = 10
i = 1
while i < l do
  puts i
  i += 1
end
%>
UndefinedMethodError: Undefined Method 'l' for <Instance of: O

[2017-09-08 05:38] ear7h commented on #395
@st0012 That's an even better idea, I was trying to think of anything which would make debugging easier.

[2017-09-08 05:40] ear7h commented on #379
Alright, let me know if I can be of any assistance. Good luck btw!

[2017-09-08 10:17] st0012 commented on #396
@kopylovvlad This is a bug, thanks for reporting!

[2017-09-08 10:20] st0012 commented on #396
Note: The issue is caused by code generator, which should generate `getlocal` for `l` but generated `send`

[2017-09-09 04:14] st0012 opened #397 "Implement send method"

[2017-09-09 06:56] #396 closed

[2017-09-09 07:20] st0012 commented on #396
@kopylovvlad This should be fixed in master branch. You can install Goby from source and try it. Or we'll release `0.1.3` next week.

[2017-09-10 07:50] faxal opened #401 "Sandboxing goby"
I would like to use Goby within a Go application as a scripting language for a rule engine. Is it possible to sandbox Goby interpreter i.e disabling some libraries and functions.

Is this possible?

[2017-09-10 16:18] #397 closed

[2017-09-11 03:35] ear7h commented on #401
Yes it is possible, goby is a go package (`go get` and `import` -able). You can look at the `goby.go` file which initializes a single Goby interpreter. Particularly the block of code starting on line 59

[code]

[2017-09-11 03:49] ear7h commented on #401
cc @st0012 if you have anything to add

[2017-09-11 03:50] hachi8833 commented on #397
Amazing `send` method!

[2017-09-11 04:54] st0012 commented on #397
This is actually harder than I thought 😅

[2017-09-11 06:23] #395 closed

[2017-09-11 08:05] faxal commented on #401
Thanks, that answers one part of the question. The other part is restricting what goby programs can do in the sense, sandboxing as a security measure. I'm assuming goby can call syscalls package and others.
I want to restrict that, is that possible?

[2017-09-11 08:19] st0012 commented on #401
@faxal Currently we haven't have any library that lets you to call syscalls yet, so you don't need to restrict it 😅

[2017-09-11 08:38] faxal commented on #401
:smile: That is good to know. Maybe it'll be a good idea to have that option (restricting which libraries can be used by the program) if and when you do.

Thanks

[2017-09-11 08:38] #401 closed

[2017-09-11 08:41] st0012 commented on #401
@faxal You mean users can't even require restricted library in the program?

[2017-09-11 08:48] faxal commented on #401
I'm worried about ensuring the system the script is being run. If users can never affect the running system, then it is not required.

For a hypothetical example assuming goby can open files, I don't want the scripts to be able open files in `/etc` or `fork`, `exec` another program, such and such.

Maybe I'm thinking outside the scope of `goby`

What I anticipated was that I would initiate the gob

[2017-09-11 09:12] faxal commented on #401
For a more constructive example, this is how zygomys does it:

https://github.com/glycerine/zygomys/blob/52f09326840ffc609f102ede2f51e458ed58af5e/repl/environment.go#L64

It white lists all safe functions and uses them in sandbox mode.

[2017-09-11 09:25] st0012 commented on #401
@faxal Thanks for the information! I never thought about this before, but now we'll discuss about this issue in the future. BTW you can join our [slack](https://goby-lang-slackin.herokuapp.com) and have discussion with us.

[2017-09-11 09:39] faxal commented on #401
:pray: Thanks

[2017-09-11 15:37] ear7h commented on #363
Related to #401

[2017-09-11 16:15] saveriomiroddi opened #403 "Interpreter crashing on sliced Array access"
When I access an array in sliced form `Array[start, length]`, the interpreter crashes.

Sample command:

    a = [0, 1, 2]
    a[0, 3] # kaboom!

Exact run output (the interpreter overwrites the second line when crashing):

    $ ./goby -i
    Goby 0.1.2 😙 😇 🤔
    » a = [0, 1, 2]
    #» [0, 1, 2]
    panic: runtime error: invalid memory address or nil pointer dereference
    [signal SIGSEGV: segme

[2017-09-11 16:28] saveriomiroddi opened #404 "Improve documentation for setting up the test environments"
I'm struggling to setup the test environment, even with the current HEAD of master(df1aa5e). Postgres evidently needs some non-trivial setup, at least, for those not used to it :laughing:

I've been able to proceed with the first steps as long as the error was obvious, but I got to a point where nothing useful is printed. See https://github.com/saveriomiroddi/goby-dev/wiki/Full-test-environment-se

[2017-09-11 16:36] saveriomiroddi opened #406 "Possibly add go setup for Debian/Ubuntu machines"
Although this is quite obvious for Go programmers, it isn't completely obvious for Ruby ones.

In particular, Go 1.9 is quite recent, and hasn't the widespread packaging that Ubuntu users generally have. A PPA that gets is very high on google (https://launchpad.net/~gophers/+archive/ubuntu/archive) will yield an installation which fails on build with an obscure error (```/usr/lib/go-1.9/src/runtim

[2017-09-11 17:13] st0012 commented on #404
@saveriomiroddi You can run certain test(s) with `--run REGEX` flag. Like `go test ./vm --run TestArray` will run all tests that contains `TestArray` in its name.
This should help you do more things before the PG is setup.

[2017-09-15 03:26] st0012 commented on #406
Can you add this wiki page to our wiki as well?

[2017-09-15 12:28] saveriomiroddi commented on #406
There you go: https://github.com/goby-lang/goby/wiki/Linux-Go-Goby-setup

I've realized that this is actually a generic Linux configuration, not linux-specific, so I've titled it accordingly.

I've created #419 with the `README.md` update.

[2017-09-15 15:51] st0012 commented on #406
@saveriomiroddi I've merged #419, so can this issue be closed?

[2017-09-15 15:52] saveriomiroddi commented on #406
Yes!

[2017-09-15 15:53] saveriomiroddi commented on #406
The page is here: https://github.com/goby-lang/goby/wiki/Linux-Go-and-Goby-setup (I've changed the title).

[2017-09-17 08:11] #406 closed

[2017-09-17 08:14] st0012 commented on #404
@saveriomiroddi I'm not sure if this issue has been solved?

[2017-09-17 14:16] saveriomiroddi commented on #404
It ultimately depends on the target test environment (for developers) and the documentation you think it's worth providing.

I can test the code I write, so if you think it's not worth figuring out how to setup a full test environment, then you can close the ticket, as I can test via `go test ./vm --run`.

If you think it's worth to fully document the test environment, then I can spend some time t

[2017-09-18 02:10] st0012 commented on #404
@saveriomiroddi We can definitely provide any note to help contributors config their environment. I just think guiding them install PG is a little out of our scope, so it should be a low priority task. But anyway, you can add the note if you want to.

[2017-09-20 07:03] st0012 opened #423 "Implement Fiber?"
Go's [fiber example](https://play.golang.org/p/NSIlZ327sC)

[2017-09-20 08:20] st0012 opened #424 "Support _ for unused variable"
[code]

[2017-09-20 16:09] hanachin opened #425 "The top level main object should be printed as "main""
Before you submit the issue, please provide us following information:

- Your operating system: Mac
- How did you install Goby: source
- Goby version: 0.1.3
- The value of `$GOBY_ROOT`
- Error messages

in MRI, the top level main object is printed as "main"

[code]

But goby doesn't

[code]

[2017-09-20 16:20] st0012 commented on #425
https://github.com/ruby/ruby/blob/c08f7b80889b531865e74bc5f573df8fa27f2088/eval.c

[2017-09-20 16:20] st0012 commented on #425
https://github.com/ruby/ruby/blob/c08f7b80889b531865e74bc5f573df8fa27f2088/eval.c#L1919

[2017-09-20 16:21] hanachin commented on #425
[code]
https://github.com/ruby/ruby/blob/c08f7b80889b531865e74bc5f573df8fa27f2088/vm.c#L3169,L3177

[2017-09-25 07:39] st0012 commented on #424
@ear7h I found that implementing this PR only needs to touch two parts: `lexer` and `code generator`.

You should add a new `_`(underscore) token and change the generated instructions when assigned variable is `_` instead of normal identifiers like `var` or `foo`. And I suggest you to see what instructions Ruby generates under such condition.

BTW you need to consider both single variable assignme

[2017-09-25 17:01] ear7h commented on #424
@st0012 got it, I'll look at it today

[2017-09-27 10:32] st0012 opened #427 "Add #each method to Hash class"
Currently we only have `#each_key` and `#each_value`, but don't have `#each` method.

[2017-09-28 05:36] st0012 commented on #423
I think it's too early to discuss this feature, I'll close it and open a new one when needed.

[2017-09-28 05:36] #423 closed

[2017-09-28 05:41] #293 closed

[2017-09-29 22:06] saveriomiroddi commented on #427
Addressed by #429.

[2017-09-30 18:29] saveriomiroddi commented on #338
@st0012 can you elaborate a bit on the specification? Specifically, which is the exact purpose of this syntax?

I'm asking because heredoc in Ruby has many different features, some of whom are redundant, some of whom aren't:

1. multi-line support: this is redundant
2. arbitrary multi-character delimiter: not redundant
3. automatically indented lines: not redundant

How would you support functiona

[2017-10-01 12:37] st0012 commented on #338
@saveriomiroddi Actually I just want a way to write string that doesn't need to escape quotes. This is why I want to just use ` as delimiter.
And I don't think point 2 is necessary, can you explain why?

[2017-10-01 15:24] saveriomiroddi commented on #338
Ruby supports arbitrary delimiters, prefixed by `%q` (raw strings) or `%Q` (regular ones). For example, both the following:

    %Q`my name is "#{namevar}"`
    %Q{my name is "#{namevar}"}

are equivalent, and allow the programmer to define strings with (double) quotes, without escaping them.

I think this is a very useful feature of Ruby - of course, as long as you like the `%q`/`%Q` prefixes.

I

[2017-10-02 10:19] st0012 commented on #404
@saveriomiroddi Does this being finished?

[2017-10-02 10:51] saveriomiroddi commented on #404
@st0012 ok, I think you can close this - based on your feedback, I consider the current documentation proper.

[2017-10-02 11:12] #404 closed

[2017-10-03 16:45] st0012 commented on #403
@saveriomiroddi Can you help fixing this?

[2017-10-03 17:31] saveriomiroddi commented on #403
@st0012 I need a couple of days to get acquainted with the lexer (or parser) :smile:

I will write back with a positive or negative answer in a couple of days :smile:

[2017-10-03 18:47] saveriomiroddi commented on #403
@st0012 ok, I had a look at the parser, and definitely manual parsers are not my thing :smile: so I'll pass on this, sorry.

[2017-10-03 20:23] saveriomiroddi commented on #379
Being addresses by #443.

[2017-10-04 02:05] st0012 commented on #403
@saveriomiroddi So, would you suggest we use a parser generator? (this is not relevant to this issue)

[2017-10-04 08:41] saveriomiroddi commented on #403
@st0012 this is an interestring/complex subject. I'm not sure it would be ultimately productive to switch. Wrapping up the pros/cons of the current implementation:

- pros
  1. lots of work has been put on it, and it's working, which is fundamental :smile:
- cons
  1. I think it requires more maintenance (more bugs, and bugs are more difficult to fix)
  2. it has a high barrier of entry; it's very

[2017-10-04 08:48] saveriomiroddi commented on #403
Another point: since Ruby uses a parser generator, and Goby is very similar, the Ruby grammar definition could (not 100% sure, though) be recycled, making the cost of switching [significantly] lower than starting from scratch.

[2017-10-04 08:52] st0012 commented on #403
But do you understand how to write those parser generator's grammar rules? I think understand the Go code's logic is still far more easier than learning how to write the grammar rules.

Using parser generator means contributors needs to learn both Go and how to define a grammar rule, which is like learning a new language. So I think switching to parser generator will lower the entry barrier.

[2017-10-04 08:56] st0012 commented on #403
And I personally want to restrict some syntax usage in Goby, and we also won't support some usages like `URI("http://example.com")`. So copying Ruby's grammar definition won't be a good way for switching to parser generator, we still need to define our grammar rules.

[2017-10-04 09:39] saveriomiroddi commented on #403
Fair enough, I take the perception of the difficulty of each approach is personal :smile:

[2017-10-04 16:04] #427 closed

[2017-10-04 19:11] saveriomiroddi opened #444 "Arithmetic operations with multiple right values are allowed"
In Goby, it's allowed to perform an arithmetic operation with two right values:

    1 * *[2, 3] #=> 2

I think this should be forbidden; if so, probably the best place to forbid this is at parser level, otherwise, argument checks should be added for each operation method.

[2017-10-05 17:58] snowyleopardz commented on #425
[``](reddit.com)

[2017-10-05 21:15] saveriomiroddi opened #448 "Goby panics when parsing a too big Integer literal"
Instead of panic, a parsing error should be returned.

Example:

    » 9223372036854775808
    panic: could not parse "9223372036854775808" as integer

    goroutine 1 [running]:
    github.com/goby-lang/goby/compiler/parser.(*Parser).parseIntegerLiteral(0xc4201162d0, 0xb30df4, 0xc4201785f0)

[2017-10-05 21:17] saveriomiroddi commented on #448
Addressed by #449.

[2017-10-05 21:54] saveriomiroddi opened #450 "Document (or fix, if it's a bug) the boolean string literals"
I've noticed that in Goby, the string literals `"true"` and `"false"` directly translate to boolean values (respectively, true and false).

Since this behavior is unique among the scripting languages (Ruby/Python/Perl/PHP), I was wondering if this is intentional or not.

If intentional, I think this should be very carefully evaluated, in particular because of undefined/unexpected behaviors:

    i

[2017-10-06 00:54] #448 closed

[2017-10-06 00:54] #103 closed

[2017-10-06 00:58] st0012 commented on #450
@saveriomiroddi Thanks for reporting this, it's a bug. But I'm not sure if it can be solved easily. Because in instructions we only have string format, this is why we can't distinguish whether it's bool or string (they are both string in the instructions).
So I think the proper way to fix this is to add a new instruction called `PutBool`.

[2017-10-06 01:01] st0012 commented on #444
This is a bug and should be fixed in Parser

[2017-10-07 07:29] saveriomiroddi commented on #450
@st0012 What do you think of having `Putobject` use `Object` rathen than string literals? This would make the instruction set a little simpler, rather than having specialized instructions like `PutObject <string>`, `<PutBool <value>`, etc?

Are there any specific advantages in having more, specialized, `PutObject` intructions?

If you think a generic `PutObject` version would be OK, I can start wo

[2017-10-07 07:34] saveriomiroddi opened #451 "Support arbitrarily big numbers (`Big...`)"
Goby currently does support strictly integer representations (up to 64 bit), but not arbitrarily big numbers (typically called `BigNum`/`BigInt`...).

@st0012 if you don't have any very specific ideas about the implementation, I can implement Big numbers with a transparent Goby Integer interface - like Ruby 2.4 does, where an Integer is always exposed to the user, and transparently changed behind

[2017-10-07 07:39] hachi8833 commented on #451
I agree with it.
Well I just wonder if we need `Numeric` class that is inherited to `Integer` and `Float` after that.
`Numeric` can be almost empty.

[2017-10-07 07:51] saveriomiroddi commented on #451
I think in the long term, the Goby `Numeric` class will be very likely added/needed, but I don't think that right now it would have any functionality - unless somebody introduces it with a specific purpose.

(for reference, Goby does have a `Numeric` interface, but in Go, and it's hidden from the user; it's currently used to abstract floating point conversions)

[2017-10-07 07:52] saveriomiroddi commented on #451
With that in mind, of course, I don't think that adding it straight away would hurt, but it would need to be carefully designed to make sure it would change as little as possible in the future (if it would be chosen not to wait for it to be needed and to have clearer requirements).

[2017-10-07 09:07] st0012 commented on #450
@saveriomiroddi Having separate instructions can make things simpler actually, this issue is caused by dealing too many things in one function. If having more instructions can simplify the evaluation logic of different kind of action, then it's worth it.

[2017-10-07 09:15] st0012 commented on #451
@saveriomiroddi @hachi8833  I think this is worth working, but it's priority should be low until we've reached certain version (like `v0.4.0`). Because we or test users will use this feature only if other fundamental features are provided.

[2017-10-08 01:37] #425 closed

[2017-10-11 09:30] st0012 opened #456 "Refactor method call logic"
Currently the method call logic is put inside a function called `thread.evalMethodObject`. It contains arguments checking, error reporting and method evaluation logic (and other logics maybe). This is a huge code smell and should be fixed ASAP.
@shuheiktgw Do you want help with this?

[2017-10-11 09:32] st0012 commented on #424
@ear7h Have you gained any progress?

[2017-10-11 09:34] st0012 commented on #379
I will do the front-end (parsing) part if no one is interested in it. @Maxwell-Alexius Do you want to give it a try?

[2017-10-12 20:38] saveriomiroddi commented on #331
@Maxwell-Alexius could you give some context/references/examples? I know nothing of the subject, and seeing something concrete would help me in knowing what to study.

[2017-10-13 17:23] saveriomiroddi commented on #263
@hachi8833 @Maxwell-Alexius is the concept being addressed by #461?

[2017-10-14 00:11] hachi8833 commented on #263
Nice suggestion! I should've noticed the equivalence. 💦
Let me look into the selections.

[2017-10-14 01:14] hachi8833 commented on #263
First we need regexp literal `//`. Then,

- remove `replace` PR.
- improve `String#gsub` so that both string literal `""` and regexp literal `//` can be used for providing a pattern.
- rename `String#gsub` to `String#replace` or like that. (I agree that the name `gsub` and `sub` is a bit awkward)

How about this?
I hope the new `String#replace` can take a block in a future.

[2017-10-14 06:26] st0012 commented on #263
But Ruby's `replace` already has other purpose (although I think that's quite useless). And we still need to support `#sub`'s functionality, but how should we rename this?

Will it be like this?

- `gsub` -> `#replace_all`
- `sub` -> `#replace`

[2017-10-14 06:30] hachi8833 commented on #263
I prefer to the following because replacing once is not so often used:

* `gsub` -> `#replace`
* `sub`   -> `#replace_once`

[2017-10-14 16:41] ear7h commented on #424
@st0012 sorry I haven't gotten anything done in a while, I'm working on this today

[2017-10-14 17:07] st0012 commented on #424
@ear7h Ok, got it!

[2017-10-17 06:02] st0012 commented on #424
Thanks @ear7h for implementing this.

[2017-10-17 06:02] #424 closed

[2017-10-17 06:06] ear7h commented on #424
Thanks for your patience @st0012!

[2017-10-17 09:16] Maxwell-Alexius commented on #379
I think I can handle this part, let me try it. I will ping you in Slack

[2017-10-18 01:03] hachi8833 opened #466 "Bug: precedent top-level constants conflicting to namespaced constants"
The following causes an error:

[code]

But this works:

[code]

Checked with Goby script and REPL. They work on current Ruby.

[2017-10-18 01:15] hachi8833 opened #467 "Spec: prohibition of declaring constants within a method definition"
Current Goby 0.1.3 permits declaring constants within a method definition like the following:

[code]

st0012 suggested me that this should be forbidden. Test cases for that should also be added.

[2017-10-18 02:15] st0012 opened #469 "Hash accessing is not thread-safe"
Conclusion: We shouldn't use Go's `sync.Map` to implement normal hash, because it's performance it's poor in normal condition. [Reference](https://medium.com/@deckarep/the-new-kid-in-town-gos-sync-map-de24a6bf7c2c)

[2017-10-18 02:15] st0012 commented on #469
@saveriomiroddi @ear7h Will you want to try this?

[2017-10-18 03:59] ear7h commented on #469
I can do this. Seems like just mutexes on read and write operations within the builtin methods.

[2017-10-18 04:08] st0012 commented on #469
@ear7h We shouldn't do that until we have no choice. That will slow down the whole program.

[2017-10-18 06:03] ear7h commented on #469
@st0012 I read a bit more on thread-safety and atomics in go. From my understanding the better solution would be to change the Pairs variable from `map[string]Object` to `map[string]unsafe.Pointer` and using the atomic Load() and Store() functions for reading and writing. Is this correct?

[2017-10-18 06:47] st0012 commented on #469
@ear7h I think you can just use Go 1.9's new feature: [concurrent map](https://golang.org/doc/go1.9#sync-map)

[2017-10-18 07:12] saveriomiroddi commented on #469
@st0012 If you refer to making the base Hash class access (r/w) thread-safe, I can take care of it, although, after thinking about the subject, I think it's a design decision not to underestimate. Due to, I guess, performance considerations, other languages generally have extra classes as safe counterpart, and I think it would be a good idea to do the same in Goby.

[2017-10-18 20:28] saveriomiroddi commented on #469
@st0012 How do you want to proceed with this? Create a new class, like `Concurrent::Hash` and `Concurrent::Array`?

[2017-10-19 02:01] st0012 commented on #469
@saveriomiroddi Yes, I think it's the most proper way to do that.

[2017-10-20 02:28] st0012 commented on #469
@goby-lang/maintainers Is there anyone want to give this a try? This should be an interesting task

[2017-10-20 07:11] saveriomiroddi commented on #469
@st0012 depending on the timeline expected, I can have Concurrent::Hash ready by Monday, because I'm having quite busy times :smile:

I'm not 100% sure about the testing - I have fuzzy testing in mind, but the class itself should be trivial.

[2017-10-20 07:22] st0012 commented on #469
@saveriomiroddi Good to hear that, no rush 👍 And I think it'll be hard to write an "must fail" test for testing concurrency. But we can run a single case multiple times to increase the odd.
(BTW can you checkout your slack message when you're available?)

[2017-10-20 08:40] st0012 opened #471 "Exponential float format"
This is related to #379

Except normal float format like: `1.1`, `20.52`, we should also support the exponential format like:

[code]

[2017-10-22 20:17] saveriomiroddi opened #472 "Hash literal allows invalid syntax `{ literal }`"
The parser allows the invalid hash syntax `{ literal }`, for example:

    { 1 } # => {  }
    { nil } # => {  }

it should instead raise an error.

[2017-10-24 09:13] Maxwell-Alexius opened #476 "Allows without curly braces around hash like data representation"
Similar to issue #472, but this condition is something like this:

[code]

[2017-10-24 10:12] st0012 commented on #456
Implemented in #462

[2017-10-24 10:12] #456 closed

[2017-10-24 12:53] saveriomiroddi opened #477 "Provide synchronization APIs"
In reference to https://github.com/goby-lang/goby/pull/473#discussion_r146158750, I'm opening this issue for discussing the validity of implementing locking APIs in Goby (I think a standard library would suffice).

[2017-10-24 17:57] saveriomiroddi opened #478 "Evaluate if it's worth DRYing the `require` statements in the test suites."
See https://github.com/goby-lang/goby/pull/473#discussion_r146619445.

Additional note: Ruby commandline interface gives the `-r` option, which requires library before the code is evaluated. Maybe something similar could be used? Example:

    v := initTestVM()
    v.load("library", "library2", ...)

or even:

    v := initTestVM("library1", "library2", ...)

[2017-10-24 21:58] saveriomiroddi opened #479 "Errors are swallowed insides blocks"
When a statement causes an error inside a block, the execution of that block is halted, but the error is swallowed:

    1
    2
    3
    #> [1, 2, 3]

[2017-10-24 22:01] saveriomiroddi opened #480 "Support exception throwing"
(For tracking purposes) Support the Ruby base error throwing statements:

    raise
    raise "my message"

[2017-10-25 02:01] st0012 commented on #479
This should be fixed in #475

[2017-10-25 07:26] st0012 opened #481 "Should we support Float#== ?"
Float comparison is risky and is not a good practice, I think most programmers would agree this. So should we drop the support (or raise specialized error) when user calling this method, or we should just support it?

From my perspective supporting this method and telling user it's better not to use it against the core concept of Goby: `No more best practices`. So I don't want to support it actual

[2017-10-25 07:33] st0012 commented on #481
@hachi8833 Suggests that we can convert floats into rational. But how to implement this another question.

[2017-10-25 07:35] #469 closed

[2017-10-25 08:42] Maxwell-Alexius commented on #481
Maybe using the `rat` data type in Go to support float or rational type data directly to Goby?

[2017-10-25 09:05] saveriomiroddi commented on #481
This is an interesting idea, and somewhat audacious, but the consequences need to be extremely well thought out.

First, eliminating `==` implicitly eliminating also other arithmetic operators (`>=`, `<=`, `!=`).

Ultimately, floating point comparison is a legitimate operation (arguably dangerous, but still legitimate), so it's a matter of analyzing all the use cases.

For some cases, forcing prec

[2017-10-26 07:41] st0012 commented on #481
I think we should find some real world use cases of floats. Basically I only wrote web applications (or something relates to web applications) so I only have experience on decimal.

[2017-10-26 07:44] saveriomiroddi commented on #477
@st0012 is the Goby interepreter thread safe? Writing synchronization APIs (but also using the ConcurrentHash) requires the method calling code to be so - otherwise, it will surely cause issues.

[2017-10-26 07:50] st0012 commented on #477
@saveriomiroddi I believe so. When we run tests on CI the script will have a `race` flag, which will let Go to detect potential race conditions. And currently our thread/channel related tests are all passed, so I think it should be thread-safe now. Also, our sample site is running on multi-threaded builtin server and haven't spot any thread safety issue.

However, the `plugin` library's `generate`

[2017-10-26 08:01] st0012 opened #482 "Support Concurrent::Array"
Thanks to @saveriomiroddi, Goby already has thread-safed hash (`Concurrent::Hash`). But we need to implement thread-safed Array as well.

[2017-10-26 08:11] saveriomiroddi commented on #482
I'll take care of this as well - there are no alternatives to use a mutex, AFAIK.

I'd use the same approach as the first attempt of ConcurrentHash - a method jump table.

[2017-10-26 08:34] st0012 commented on #482
@saveriomiroddi I think after this issue we should start prepare tests to prove they are really thread-safe. Also need to do some benchmark to compare the performance difference.

This is a brand new field for me actually, but it should be very interesting.

[2017-10-26 08:49] saveriomiroddi commented on #482
ok. can you give me some pointers to how to perform a method call, from Go, in a test suite?

I have in mind some interesting and effective way to fuzzy test, at least for the ConcurrentHash calss.

[2017-10-26 09:35] haifenghuang commented on #480
In my project, [monkey](https://github.com/haifenghuang/monkey), I've implemented a `try-catch-finally` and `throw` mechanism, you can take a look at that project, Maybe you could find a way for implement it.

[2017-10-26 09:39] st0012 commented on #480
@haifenghuang I'll take a look, thanks! BTW I also wrote a monkey project before Goby, I guess we both read the same book 😄

[2017-10-26 09:50] haifenghuang commented on #330
When you implement the `fmt` package's `Formatter` interface, you can utilize the  golang's handling of formt. In the project [monkey](https://github.com/haifenghuang/monkey), I've implemented a fmt module, which does the formatting of the language's object, so you can have a look.

[2017-10-26 10:31] st0012 commented on #482
@saveriomiroddi I'm doing some refactoring to reduce required info when calling a method, which will make test setup more easier. Once it's done I'll let you know.

[2017-10-27 06:52] Maxwell-Alexius opened #484 "VM Float API Implementation"
Referenced from the Ruby Ver. 2.4.1. Float data type API:

- [ ] Constant `Float::INFINITE` stands for the number is infinite
- [ ] Constant `Float::NAN` stands for "Not a Number"

- [ ] `Float#modulo` Synonym to the `%` operator (Get the quotient from the divide operation)
- [ ] `Float#quo` Synonym to the `/` operator (Get the quotient from the divide operation)
- [ ] `Float#abs` Return positive

[2017-10-27 08:54] Maxwell-Alexius opened #485 "Unify Raise Error Mechanism for Parser"
Design and construct method(s) something like `Parser.raise(ERROR)` for unifying the error raising in parser part and stop the program to prevent unexpected result. (See [`parser.go`](https://github.com/goby-lang/goby/blob/master/compiler/parser/parser.go))

[2017-10-27 08:59] Maxwell-Alexius opened #486 "Support for forming a Symbol with Double Quoted String?"
In Ruby, we can form a symbol with a double quoted string which can contain characters other than alphabet, such as whitespaces or other kinds of stuff:

[code]

If this is supported, then the Hash type data should also support format something like this in Goby:

[code]

Any thought or comment ? ~

[2017-10-27 09:08] Maxwell-Alexius commented on #327
I think this should be the case that there exists a method called `a` which sends in a value `[1, 2, 3, 4, 5]` as the parameter of the method something like that.

[2017-10-27 15:21] saveriomiroddi commented on #484
I think `modulo` and `quo` should not be implemented would conflict with Goby's policy of no duplicate methods - @st0012 ?

[2017-10-28 12:53] st0012 commented on #484
@saveriomiroddi @Maxwell-Alexius I have tested with some float numbers and seems like `modulo` and `quo` are really just alias methods. If so then we shouldn't support them.

[2017-10-28 23:11] hachi8833 opened #488 "Discussion: duality between instance variables and attribute methods"
As you know, Ruby's `#=` methods from `attr_accessor` or `attr_writer` are pretty confusing when assigning:

[code]

Essentially, Ruby has a duality: you sometime call the ones "instance variables" and sometime "attributes".

Goby behaviors the same as above for now.

I hope Goby could provide a syntax level solution for that. Which of the following is preferable?

* A: Prioritize the implicit rec

[2017-10-29 04:26] hachi8833 opened #489 "Discussion: `frozen_string_literals` by default"
https://bugs.ruby-lang.org/issues/11473
Ruby is now trying to freeze string literals by 3.0, so I guess we should consider the specification.

I thinks freezing string literal would lead developers to good practices. We have a good chance to introduce this to avoid mutations.
(Some developers often mutate the passed string arguments with `<<` or like that unexpectedly, and the freezing would warn

[2017-10-29 04:55] st0012 commented on #489
I thought currently we can’t mutate string in Goby already?
This is decided at the beginning of Goby

[2017-10-29 04:58] hachi8833 commented on #489
Thank you for pointing this out. I should've noticed that.

[2017-10-29 04:58] #489 closed

[2017-10-29 18:45] saveriomiroddi commented on #488
Assuming this would be implemented, I'd personally prefer a warning. Definitely not A, which wouldn't solve the ambiguity problem.

[2017-10-29 23:53] hachi8833 opened #491 "Bug: Top level capitalized method with parentheses causes panic"
[code]

I guess such capitalized methods on top-level should be prohibited.

FYI: capitalized methods other than top-level are prohibited, with/without parentheses:

[code]

[2017-10-30 06:45] st0012 commented on #491
I think we should suspend all capitalized method call.

[2017-10-30 11:50] Maxwell-Alexius commented on #484
Then in this case I will cross out those two methods, thanks for the feedback

[2017-10-31 04:10] haifenghuang commented on #480
Yes, we read the same book :smile:. BTW, I've updated the `try-catch-finally` evaluation logic, Now it's much better, you can have a look.

[2017-10-31 22:16] hachi8833 opened #497 "Bug: some inappropriate behaviors in keyword arguments"
They are edge cases when keyword args are not provided.

1:

[code]

2:

[code]

[2017-11-01 18:01] #482 closed

[2017-11-02 09:13] saveriomiroddi opened #499 "Testing threads causes a race condition"
Observed in #493:

When testing threads, a race condition will be detected. The minimal test case is:

		code := `
		finish_message = nil

		thread do
	    finish_message = "thread"
		end

		sleep 1
		finish_message
		`

		v := initTestVM()
		v.testEval(t, code, getFilename())

it's not clear if this is an issue of the testing framework, or the interpreter.

[2017-11-02 09:18] st0012 commented on #499
Um...I don't think it'd be a test framework issue, should be something wrong in the interpreter.

[2017-11-03 23:15] hachi8833 opened #500 "Bug: namespaced constants conflict with toplevel constants"
When a namespaced constant (`Foo::VAL`) is defined first and then a toplevel constant with the same name (`VAL`), it works.

But when a toplevel constant is defined first and then a namespaced constant with the same name (`Bar::VAL`) is defined, the constants are conflicted.

[code]

This works on Ruby.

[2017-11-06 10:34] #491 closed

[2017-11-07 00:06] st0012 commented on #499
It seems that the race condition is caused by assigning the string object `"thread"` to the `finish_message` pointer's value, while we're reading that pointer's value after evaluating a call frame for checking error objects.
I think the best solution is to change the way we do error checking, I'll try to fix this in this week.

[2017-11-09 01:02] st0012 commented on #499
@saveriomiroddi I think I might need your help on this. We sometimes might have race condition on pointer's target read/assignment. In current implementation this might happen when we assign values to the var `finish_message` at thread `A`, and checking if the top pointer (which is also var `finish_message`)'s value is an error at thread `B`. I'm not familiar with the pointer's thread safety, shou

[2017-11-09 08:37] saveriomiroddi commented on #499
Very interesting. I'll review this over the next few days!

[2017-11-10 11:01] ishankhare07 commented on #403
@st0012 is this issue still open?
can you give me a heads-up for this- like where to begin debugging it. I can probably look into fixing this issue.

[2017-11-10 12:23] st0012 commented on #403
@ishankhare07 I think this issue hasn’t been fixed, but I can’t tell you much now because I’m about to fly home. You should join our slack and ask this in discussion channel and someone would help you https://goby-lang-slackin.herokuapp.com/

[2017-11-10 15:15] saveriomiroddi commented on #499
Hello! This is a very interesting subject. As a general observation, I think this is the typical reasons why scripting interpreters use the GIL :smile:

Having said that, I had a cursory look around at the general patterns for handling shared access to pointers (which are not thread safe in Go).

I think that the high level behavior of the code would reflect the low-level one (note that I didn't r

[2017-11-10 22:48] st0012 commented on #500
@hachi8833 Can you write a simple test script and expected outcome this bug?

[2017-11-11 00:11] hachi8833 commented on #500
Here you go:

[code]

[2017-11-11 07:03] kachick opened #508 "Nil groups make panic in MatchData"
- Your operating system: `sw_vers`
  - ProductName:    Mac OS X
  - ProductVersion: 10.13.1
  - BuildVersion:   17B48
- How did you install Goby: `go get github.com/goby-lang/goby`
- Goby version: 0.1.3
- The value of `$GOBY_ROOT`: /Users/kachick/gocode/src/github.com/goby-lang/goby

[code]

[code]

- Error messages

[code]

[2017-11-11 07:21] hachi8833 opened #509 "Bug: `-e` option causes a panic"
`-e` option for starting up Goby causes a panic.

- Your operating system: Mac OS X High Sierra
- How did you install Goby: git clone
- Goby version: 0.1.3
- The value of `$GOBY_ROOT`: /Users/hachi8833/deve/golang/gopath/sys/src/github.com/goby-lang/goby

[code]

[code]

[2017-11-11 15:03] hachi8833 opened #514 "ToDo: tests for Goby's command and flags"
We need to create goby_test.go and add test for commands and flags on startup.
Does anyone want to do this?

Ref: https://github.com/goby-lang/goby/pull/511#issuecomment-343666162

[2017-11-11 15:22] #509 closed

[2017-11-11 22:05] hachi8833 commented on #508
@saveriomiroddi While I checking the bug, I found that the following custom struct is used in `MatchData` struct:

[code]

I'd like to change the struct to the following, by using the existing [`*regexp.Match`](https://github.com/goby-lang/goby/blob/master/vendor/github.com/dlclark/regexp2/match.go#L11)

[code]

The struct contains all attributes for regexp, including captures/position/pattern/tex

[2017-11-11 22:52] hachi8833 commented on #476
As pointed out, I think this needs fix. Perhaps we need exhaustive test cases for that.

[code]

[2017-11-12 19:50] saveriomiroddi commented on #508
Absolutely. Good catch :laughing: I actually don't know how/why I missed that :smile:

[2017-11-12 19:52] saveriomiroddi commented on #508
Regarding those, @st0012 should answer, as it's a matter of design choice. I've followed the Ruby standard, which makes sense - the group `0` is not an individual capturing group as the others, that's why it has no `0:` prefix.

[2017-11-12 22:02] hachi8833 commented on #508
@st0012 I'd send the PR if you're ok with `0:` prefix.

[2017-11-13 00:50] ear7h commented on #514
I'll take this issue

[2017-11-13 08:51] st0012 commented on #514
@ear7h Ok, thanks 😁

[2017-11-13 22:30] #508 closed

[2017-11-13 22:34] kachick commented on #508
Thank you!

[2017-11-14 09:44] st0012 commented on #499
@saveriomiroddi Actually after thinking for a few days, I think this case is acceptable. Yes, it might have a race condition on pointer's target, but that's what users should expect when writing such code.
And the error is raised because the potential race condition is detected, not because there's something went wrong. So I suggest we should have a different place to put all the thread-related te

[2017-11-14 10:25] saveriomiroddi commented on #499
If you're completely sure that writing this code won't case the executable to panic (which is undesirable, even for broken code) due to pointers undefined behavior, then that's a solution to the problem.

[2017-11-14 10:31] st0012 commented on #499
We can start writing the thread-related tests and I guess we'll find out then. But does this mean your mutex lock feature will be blocked?

[2017-11-14 10:53] saveriomiroddi commented on #499
I will check it!

[2017-11-16 10:54] saveriomiroddi commented on #499
I've changed the title and description, since the race condition is not related to the test environment.

[2017-11-16 17:36] saveriomiroddi opened #518 "Test suite is run twice"
The travis build script has a bug, that causes the build to run twice. This was hidden because for the first run, the verbose output was disabled, so there was only one line report line for it.

[2017-11-17 00:20] hachi8833 commented on #518
Good catch!

[2017-11-17 01:00] st0012 commented on #518
@saveriomiroddi Ah....yes, the script I wrote has bug in there and never be found 😢

[2017-11-17 01:01] #518 closed

[2017-11-17 12:24] saveriomiroddi opened #521 "Create wiki page for PGSQL configuration"
Create a wiki page with the instructions required in order to have a working local PGSQL goby setup.

This is a follow up to #404.

[2017-11-18 00:12] hachi8833 opened #524 "Bug: multiple assignment from implicit array causes panic"
The following works:

[code]

The following causes panic:

[code]

FYI: works in Ruby:

[code]

[2017-11-18 00:31] hachi8833 commented on #524
I found one more thing: Current Goby returns only the last element on multiple assignment:

[code]

Ruby returns an array:

[code]

Looks like this also should be changed.

[2017-11-18 01:09] hachi8833 commented on #524
I think we need more test for multiple assignment on evaluation_test.go.

I wrote the following for evaluation_test.go:

[code]

[2017-11-18 10:27] hachi8833 commented on #524
Perhaps this is related to https://github.com/goby-lang/goby/issues/444

[2017-11-18 11:21] #521 closed

[2017-11-18 11:28] st0012 commented on #524
@hachi8833 This and #444 are all parser's issue, but not directly related to each other I think.
And currently I don't want to support multiple variable assignment like:

[code]

So what we should do is to raise a parser error when users attempt to do something like this.

[2017-11-18 13:41] Maxwell-Alexius opened #526 "Fix Negative Float Type Data Parsing"
As described from PR #470, float parsing cases below are normal:

[code]

However, there is a case when a negative valued float type number cannot call method without round bracket
[code]

[2017-11-20 09:06] #352 closed

[2017-11-20 09:22] hachi8833 opened #528 "Bug: uninitialized toplevel constant causes panic in REPL"
Looks like #475 causes the following.

Just entering an uninitialized constant on toplevel in REPL causes panic:

[code]

The previous [dbe45c](https://github.com/goby-lang/goby/commit/dbe45c1225bc646b4e1fa0dfb6b5911500b786df) works:

[code]

[2017-11-20 09:36] st0012 commented on #528
@hachi8833 I'll fix that later. And it looks like we'll need some error tests for REPL mode's VM now 😂

[2017-11-20 09:50] hachi8833 commented on #528
Just now I found a useful info https://stackoverflow.com/questions/37256859/how-can-i-write-a-go-test-that-writes-to-stdin
I'd try writing tests for REPL.

[2017-11-20 09:52] st0012 commented on #528
For this issue, it should be the VM's problem. And you should be able to reproduce it in [this test function](https://github.com/goby-lang/goby/blob/master/vm/vm_test.go#L21). But I also support writing a full integration test for REPL.

[2017-11-20 12:55] st0012 opened #529 "TODO: Test error condition for VM's REPL mode"
This is for preventing condition like #528

[2017-11-20 21:59] hachi8833 commented on #528
Now the top-level errors echoes twice, on the current master branch.

[code]

[2017-11-21 01:33] #500 closed

[2017-11-21 01:34] st0012 commented on #528
Fixed

[2017-11-21 05:49] hachi8833 commented on #528
Works fine now!

[code]

[2017-11-21 05:49] #528 closed

[2017-11-21 13:16] st0012 commented on #479
@saveriomiroddi Can you help me confirm if this issue is fixed?

[2017-11-21 13:22] saveriomiroddi commented on #479
I think this should be captured in a UT, as it's a quite important functionality.

[2017-11-21 13:33] st0012 commented on #479
@saveriomiroddi It'll be very hard to write unit test for this case. The main issue would be writing the block's VM instructions by ourselves, which will be very messy.

Also, even we do write those instructions by ourselves, Goby's instruction format and spec are still unstable now. I think it'll be better to write unit tests after like version `0.5.0`.

[2017-11-21 13:35] saveriomiroddi commented on #479
ok :+1: the issue is still present in the current `master` branch.

[2017-11-21 13:41] st0012 commented on #479
I think this is caused by the REPL environment. I ran the code above in normal a script and it functions well.
If you can see proper error in normal evaluation, can you help me close this issue and create a new one to specify this problem now only happen in REPL?

[2017-11-22 03:44] #479 closed

[2017-11-22 03:47] st0012 commented on #377
It seems like currently we don't have the need to implement this library, nor do we have the time to do this , so I'm closing it now. But we can discuss this again in the future.

[2017-11-22 03:47] #377 closed

[2017-11-22 03:50] st0012 commented on #363
I'm closing this because it has been stale. But welcome to reopen it if anyone want to discuss this more.

[2017-11-22 03:50] #363 closed

[2017-11-22 03:51] st0012 commented on #526
This issue blocks #379

[2017-11-22 03:54] st0012 commented on #466
I think this problem is the same to #500 and it's been fixed.

[2017-11-22 03:54] #466 closed

[2017-11-22 03:57] st0012 commented on #81
IO is already been supported through `STDIN`, `STDOUT` and `STDERR` constants.

[2017-11-22 03:57] #81 closed

[2017-11-22 03:58] st0012 commented on #263
@hachi8833 Has this been finished yet?

[2017-11-22 04:09] hachi8833 commented on #263
I'd finish this weekend 😓

[2017-11-23 10:49] #477 closed

[2017-11-23 23:54] hachi8833 opened #532 "Bug: unstable argument with `String#to_*` and `Range#each`"
The following causes invalid ArgumentError:

[code]

Same errors are occured if you change `"4".to_f` to `"4".to_d` or `"4".to_i`.

But it is strange that the following works:

- if you add any lines or comments around `b = "4".to_f `

[code]

[code]

- if you change `"4".to_f` to `4`

[code]

## Assumption

The following condition might be relevant:

1. the method has one or more arguments
2. the

[2017-11-24 07:01] st0012 commented on #532
I think this is because the parser has trouble parsing range type correctly (I guess it's related to the float parsing), and those `#to_*` should be fine.
Can you not using range for now until I fix this?

[2017-11-24 08:15] st0012 commented on #532
@hachi8833 Should be fixed at #533, can you check if the test cases are right and sufficient?

[2017-11-24 09:15] hachi8833 commented on #532
LGTM. Just adding some tests for the case:

[code]

[2017-11-25 08:56] #532 closed

[2017-11-25 09:02] #263 closed

[2017-12-10 11:32] st0012 opened #535 "Add raise method"
Add `#raise` method to let users raise exceptions manually.

[2017-12-12 14:23] saveriomiroddi opened #537 "Implement Enumerable#lazy"
I'm adding this for tracking purposes, based on the Slack discussion.

I'm not sure I will have the time over the next couple of weeks, however, I'm posting here the reference to the commit introducing the feature in Ruby:

- https://github.com/ruby/ruby/commit/0b2c4f43d27510cd0f51a260b5b21fc7e39a5e85

EDIT: this is a much easier to read (and implement) version, from JRuby:

- https://github.com/j

[2017-12-13 09:16] st0012 commented on #537
@saveriomiroddi thanks for the reference, and it's not rush to implement this feature actually. I think we won't touch anything related to this until next January or even February.

[2017-12-21 21:20] saveriomiroddi opened #540 "Blocks don't return nil when empty"
There is no current specification for this - I think it's a bug, but it may not necessarily be.

When an empty block is passed to a function, `nil` value is not returned; instead, I think that the caller itself is returned. For example

[code]

I would expect `[nil, nil]` in the first case, and `[]` in the second, as I think `nil` is an appropriate value to return when a block is empty.

[2017-12-21 21:25] saveriomiroddi opened #541 "REPL interpreter crashes when executing a certain sequence of statements"
The REPL interpreter crashes when executing this sequence of statements:

[code]

Each statement runs OK individually.

The error is:

[code]

[2017-12-22 01:12] hachi8833 commented on #540
I think this should be fixed as you pointed out.

[2017-12-22 01:13] st0012 commented on #540
This's a bug

[2017-12-22 01:16] st0012 commented on #541
@hachi8833 Can you investigate this first and tell me where goes wrong?

[2017-12-22 01:17] hachi8833 commented on #541
I found that the following invalid code works:

[code]

This might be relevant to the issue.

[2017-12-23 14:54] #535 closed

[2017-12-24 05:14] hachi8833 commented on #540
I'd like to take care of the bug if @st0012 is OK.

[2017-12-24 06:47] #472 closed

[2017-12-24 14:29] hachi8833 opened #545 "Question: Behavior of `Hash#map_value`"
I'm wondering the behavior of `Hash#map_value`:

* While the API says "This method does not change the keys and the receiver hash values", this method actually changes the receiver.
* The actual return value is `Hash` while API doc says `Boolean`
* Using `h` and `result` looks redundant: using only `h` is sufficient.

[code]

Could you please check this? > @Maxwell-Alexius

[2017-12-24 15:28] st0012 commented on #540
@hachi8833 sure. but can you list all APIs that has similar issues? I believe there should be other methods of `Array` or `Hash` behaves incorrectly

[2017-12-24 15:56] saveriomiroddi commented on #537
So, the logic of the lazy enumerators itself is not so complicated (at least, in a basic/naive form).

There is a big problem, and it's that in Goby, blocks are not objects. so they can't be passed around and executed (this is AFAIK; things may have changed).

The below implementation is the simplest possible Ruby one (supporting `#each` and `#map`), and it's meant to be essentially copy/pasted to

[2017-12-24 17:12] st0012 commented on #537
@saveriomiroddi Can you open an issue for supporting block object? I think I can handle this

[2017-12-24 18:31] saveriomiroddi opened #546 "Support block object"
Currently, it's not possible to pass around (and execute) block object. This is a very useful feature

[2017-12-25 00:25] hachi8833 commented on #540
Actually, any methods that can take a block might be affected. I'm checking through them.

[2017-12-25 09:41] hachi8833 commented on #500
FYI: Ruby ~2.4 has the similar issue https://bugs.ruby-lang.org/issues/11547 and it has been fixed in 2.5.

[2017-12-26 12:42] saveriomiroddi opened #547 "Using `while <condition>` without the `do`, will hang"
Using the `while` syntax without `do` (in Ruby, `do` is optional) will cause the interpreter to hang:

    while true
      puts 1
    end

[2017-12-26 12:43] st0012 commented on #547
@saveriomiroddi @hachi8833  Do you think we should support the without `do` version?

[2017-12-26 13:11] saveriomiroddi commented on #547
Ruby supports keywords to separate the consequent block from the conditional keyword and condition, e.g. `if <condition> then`, `while <condition> do`.

I'm not a grammar expert, but I guess it's for single line expressions:

    if true then puts 'is true' end

(there is the semicolon alternative).

So it's a matter of making sure there is no other reason, and deciding if it's worth.

I think thi

[2017-12-26 13:11] saveriomiroddi opened #548 "`if` syntax with `then` causes interpreter panic"
Using `if` with `then` causes the interpreter to panic:

    Goby 0.1.6 😶 😈 👻
    » if true then
    panic: runtime error: invalid memory address or nil pointer dereference
    [signal SIGSEGV: segmentation violation code=0x1 addr=0x38 pc=0x74ece5]

    goroutine 1 [running]:
    github.com/goby-lang/goby/compiler/ast.(*BlockStatement).KeepLastValue(0xc42015af80)
      /path/to/go/src/github.com/g

[2017-12-26 13:13] st0012 commented on #547
@saveriomiroddi Agree, I prefer not to support it

[2017-12-26 13:55] st0012 commented on #548
@hachi8833 Yes we can/should, plz help me drop it

[2017-12-27 16:03] st0012 opened #550 "Better way to test AST"
Currently parser tests are very inefficient cause we need to assert every node like

[code]

And I want to have some pattern like:

[code]

I think this is more readable and easy to write, what do you think? @saveriomiroddi @hachi8833

[2017-12-27 19:19] amohamedali commented on #548
Hi I have pushed a [PR](https://github.com/goby-lang/goby/pull/551) for this issue. As suggested it drops the support of the then keyword. But I still need an insight on how to test it. It kind of feels awkward to test something that isn't handled by the language.

Anyway now when you use the `then` keyword it does something like this.

[code]

[2017-12-27 22:47] hachi8833 commented on #548
Congrats for the first PR!

Actually, I created almost the same PR locally 💦

The only difference is a test just to make sure `then` is dropped as following:

[code]

Any suggestions? @st0012

[2017-12-28 12:55] st0012 commented on #548
I think the `then`'s case is fine. But `for` is a keyword, giving the undefined method error might cause confusion.

[2017-12-28 13:38] hachi8833 commented on #548
The test code for `for` is unnecessary as you pointed out 😓

[2017-12-28 13:57] amohamedali commented on #548
Ok I will add this test to the PR so. thank you guys :smile:

[2017-12-29 03:07] st0012 commented on #547
fixed in #552

[2017-12-29 03:07] #547 closed

[2017-12-29 03:32] st0012 commented on #546
Currently my design is:

### Initialize block object from block argument

[code]

### Initialize block object directly (same as ruby)

[code]

I don't want `&block` syntax for now, cause it's a syntactic sugar and requires extra work on parser. I just want to implement the minimum workable version at this point.

@saveriomiroddi @hachi8833 Any suggestion?

[2017-12-29 04:15] st0012 commented on #546
@saveriomiroddi @hachi8833 Any suggestion?

[2017-12-29 05:43] Maxwell-Alexius commented on #545
Thanks, @hachi8833, I think I can handle this

[2017-12-29 06:12] hachi8833 commented on #545
Thanx!

[2017-12-29 07:22] hachi8833 commented on #545
Fixed on https://github.com/goby-lang/goby/pull/553

[2017-12-29 07:22] #545 closed

[2017-12-29 12:29] saveriomiroddi commented on #546
I'm personally not a big fan of implicit block passing:

[code]

Regarding point 2. (point 1., naming, is quite hard :wink:), it depends on choosing to implement a parameter testing method (in ruby, `block_given?`) or not. In the former case, `get_block` should raise an exception, in the latter, it would return null.

[2017-12-29 13:01] hachi8833 commented on #526
I fixed the issue locally and would send the PR tomorrow. Wait a bit.

Before that, I'd create the following issue to close together after that:

- current compiler contains unused `Incr     = "++"` and `Decr     = "--"`
- handling unary operators: `+1` and `-1`

---------------

Well, I found that Ruby treats `+++++1` as `1`, and `--1`  or `----1` as `1`, and `---1` as `-1`.

[2017-12-30 01:07] hachi8833 opened #554 "Remove unused Incr ++ and Decr ++"
While fixing #526, I found that `token.Incr` and `token.Decr` are used in lexer.go while increment/decrement operators are unused.

[code]

I'd like to remove them when fixing  #526. If @st0012 has any plan to use them, please let me know.

[2017-12-30 01:11] hachi8833 opened #555 "Positive unary operator like `+1` unhandled"
When fixing #526, I also found that the positive unary operator like `+1` are treated as invalid:

[code]

I'd like to fix this as well when fixing #526 and then close this issue.

[2017-12-30 01:36] st0012 commented on #554
@hachi8833 They will not be used again, plz drop them, thx

[2017-12-30 01:36] st0012 commented on #555
ok

[2017-12-30 14:23] st0012 commented on #546
@saveriomiroddi I think `yield` is sort of implicit block passing as well, or we should always use block argument like:

[code]

So if user can think about block passing when they see `get_block` (or any other name), it's not really implicit. And to achieve this we can emphasize it on the documentation or highlight it when we have syntax highlight plugins.

And for the second point, my opinion is

[2017-12-30 15:24] amohamedali opened #556 "Unable to write case statement in igb"
While investigating on #548 I found that we can't use case statement in igb:

[code]

At first I thought that's an edge case of this keyword because it actually needs the when statement(s) after it.
So I started hacking by trying to change the `parser/flow_control_parsing.go/parseCaseConditionals()` and the `parser/parser.go/expectPeek()` methods to kind of 'wait' when the parser is in REPLMode an

[2017-12-30 15:38] saveriomiroddi commented on #546
Sorry, it's not clear if this is a question. If it is, I think that only allowing explicit block passing (without yield/get_lock) is more in line with the philosophy of having only one way of doing things, but of course, this is relative.
Depending on having one or two ways, there are different options for raising an error or not on the second case.

[2017-12-30 17:27] st0012 commented on #546
no, I'm saying that I think `yield` is also an implicit usage of `block`. I agree that using block explicitly is more close to our core concept, but I also don't want to introduce another type of argument.
So currently I prefer only supporting implicit block usages (yield & get_block) and not introducing another type of argument and explicit block passing. And because `yield` raises error when the

[2017-12-30 17:30] saveriomiroddi commented on #546
I see. In this case, how can the receiver test if a block has been sent or not?

[2017-12-30 17:39] st0012 commented on #546
I thought block_given? should work in here as well?

[2017-12-30 17:47] amohamedali commented on #546
imho if `yield` calls the block and raises an exception when there is no block you can say that there is no need for `get_block` to raise an exception if there is no block it should return nil

[2017-12-31 01:10] hachi8833 commented on #546
Please let me know if I misunderstand something. It's pretty hard discussion for me 😓

I recognize current Ruby has several ways to handle block as a object like `Proc.new`, `lambda` (`->`), `method`, `yield`, block parameter `&`, and @st0012 finally wants to integrate them in Goby.

Perhaps I prefer the second idea, using `proc` to generate a block object, looks good.

[code]

And I feel `yield`

[2017-12-31 05:26] st0012 commented on #546
@amohamedali um....sorry I can't understand what are you saying 😅
@hachi8833 We're only discussing about how we can access block argument from a method definition at this point. So you seem misunderstand the main subject.

There're implicit and explicit approaches to use/get a block inside a method:

### Implicit

[code]

In the implicit way, we should use `block_given?` to check if block argument

[2017-12-31 05:46] hachi8833 commented on #546
Thank you for the explanation.
Perhaps I prefer to the explicit approach, but proceeding with the implicit approach is OK for me.

[2017-12-31 09:53] saveriomiroddi commented on #546
:+1:

[2018-01-01 15:09] st0012 commented on #556
@amohamedali Thanks for reporting!

[2018-01-01 15:15] st0012 opened #558 "Naming return values (?)"
According to [this article](https://blog.minio.io/golang-internals-part-2-nice-benefits-of-named-return-values-1e95305c8687), we can get smaller and more efficient binary code generated if we name function's return values.

So I think it'll be great for Goby if we can all do this in the future and refactoring the existing code. @hachi8833 @saveriomiroddi

[2018-01-02 07:13] hachi8833 opened #560 "Leading `;` causes a panic"
When the line is started with `;`, the following panic is occurred.

[code]

[2018-01-02 07:47] hachi8833 commented on #560
I found a similar issue. The continuous semicolon `;` also causes a panic when 3 or more:

[code]

[2018-01-02 14:28] saveriomiroddi commented on #558
There is a very interesting discussion in the related [github issue](https://github.com/golang/go/issues/20859).

[2018-01-02 14:41] st0012 commented on #558
Yep, I've read them. Actually, except the compilation optimization we can get, I also think it'll help us on code's readability. I think at this point our codebase is lack of documentation, naming return values should help that.
And I know there's a potential risk about shadowing variables, but I think it can be avoid if we use proper [IDE](https://www.jetbrains.com/go/) or editors.

[2018-01-02 16:27] st0012 commented on #556
I think it's better not to change the new line and whitespace lexing/parsing right now, it'll affect too much things.

[2018-01-02 16:59] amohamedali commented on #541
actually I found out that this may be an issue with the Array#select method implementation

[code]

If the block evaluation doesn't return a boolean it causes a panic in igb next time you have an issue with an undefined variable (maybe other errors too but that's the only one i found).

[code]

Still that when the vm isn't in REPL mode it actually just silently crash on method evaluation

[code]

[2018-01-02 22:55] saveriomiroddi commented on #541
Interesting bug. Array methods performing a selection were written with the assumption of the block returning a boolean (as you wrote); problem is that in Ruby (and Goby, by extension), truthy values (anything that is not nil|false) equates to true in evaluations.

`Array#any?` has for example the same bug.

The solution is simple, for example in the case of `any?` should be:

    booleanValue, is

[2018-01-02 22:58] hachi8833 opened #561 "Empty files causes a panic"
If Goby runs an empty file (or only LFs contained), the following panic causes:

[code]

Looks like the issue is related to #560.

[2018-01-02 23:01] saveriomiroddi commented on #541
Note that I've edited the answer, as I've noticed that `Array#any?` has a correct implementation.

[2018-01-03 01:19] amohamedali commented on #541
nice and I like the implementation idea

[2018-01-03 01:27] st0012 commented on #541
I'll open an PR for the truthy implementation

[2018-01-03 05:54] #541 closed

[2018-01-04 09:19] Matrixbirds opened #565 "why not use ruby?"

[2018-01-04 09:20] st0012 commented on #565
@Matrixbirds um....if you want to use Ruby then just use it, I'm not sure why this is a issue

[2018-01-06 11:46] #565 closed

[2018-01-06 12:32] st0012 commented on #546
@saveriomiroddi @hachi8833 I'll still go with the `implicit` way. Because I think using `yield` is Rubyists' first reaction when it comes to calling a block. Going the explicit way (which means dropping `yield`) will surprise them and take them more time to learn. And on the other hand, using `get_block` should be a relative easy change to adopt and follow.

However, I think this decision can stil

[2018-01-07 06:17] st0012 commented on #560
@hachi8833 The `a=1; -a` returns wrong value case is actually another issue. Can you help me open a new one?

[2018-01-07 07:03] hachi8833 opened #568 "`a=1; -a` returns an invalid value"
Found the issue in #560, on REPL.
Unary operator `+` or `-` just after semicolon `;` returns invalid values like:

[code]

[2018-01-07 21:47] #560 closed

[2018-01-07 21:47] #561 closed

[2018-01-08 01:24] hachi8833 commented on #568
I have an idea to fix the issue: how about changing `skipWhitespace()` to treat `;` as `\n` like the following? This would make the lexer simplified.

[code]

[2018-01-08 01:56] st0012 commented on #568
I think this is just a workaround, not the best solution

[2018-01-10 06:24] Maxwell-Alexius commented on #403
I think PR #559 solved this issue, so this issue can be closed now.

[2018-01-10 06:24] #403 closed

[2018-01-10 22:09] saveriomiroddi opened #571 "REPL should trap the INT instead of exiting"
REPLs traditionally trap the INT signal, and don't exit; instead, they exit when receiving a HUP.

[2018-01-11 04:34] #526 closed

[2018-01-13 06:17] st0012 opened #574 "Crash proof compiler"
I think most users who doesn't like Goby after trying, is because it crashes too easily. At this point we usually consider making features working our first priority and error handling for edge cases the second one.

But for most users they don't like us who knows how program should work. I believe some of them may even make syntactical errors very often (and causes our compiler to crash) because

[2018-01-13 07:07] #546 closed

[2018-01-13 07:09] st0012 commented on #540
@hachi8833 Any progress for this issue? I can take over it if you don't have time

[2018-01-13 07:10] st0012 commented on #548
This has been fixed by @amohamedali in #551

[2018-01-13 07:10] #548 closed

[2018-01-13 07:53] st0012 opened #575 "Fix constant resolution"
Reproduce script:

[code]

Expected: printing `"mid"`
Got: `ConstantAlreadyInitializedError: Constant ModVal already been initialized. Can't assign value to a constant twice.`

[2018-01-15 23:06] saveriomiroddi opened #577 "Errors during .gb libraries loading are quite obscure"
When a .gb library is loaded, but there are errors, it's unclear where the problem happens.

If, for example, a large file is created and loaded:

    vm.libFiles = append(vm.libFiles, "my_library.gb")

but it misses an `end`, the only thing appearing during running a test suite, or the interpreter, is:

    Unexpected EOF

without showing in which file the problem is.

Printing the file would hel

[2018-01-15 23:40] saveriomiroddi opened #578 "`break` instruction causes panic on interpreter startup"
Adding a `break` instruction on a certain library will cause the interpreter to panic on startup, even before executing anything.

In order to reproduce, checkout PR #573, compile and run the interpreter.

See the line https://github.com/goby-lang/goby/pull/573/files#diff-f13a4db30cc34d88e1ea70d250f4f7a1R92.

Error:

		panic: Can't find anchor on action jump

		goroutine 1 [running]:
		github.com/

[2018-01-16 01:19] #575 closed

[2018-01-16 13:17] saveriomiroddi opened #580 "Add support for inline conditional"
Inline conditional is a very convenient construct, which allows cleaner code in some cases, eg.:

    def mymethod(value)
      return false if value.nil?
      [...]
    end

[2018-01-16 23:39] hachi8833 commented on #580
I love the syntax ❤️
(I just wonder why Golang doesn't equip the syntax :-P)

[2018-01-17 06:14] SD10 commented on #568
It looks like when the unary operator is present, these are being treated as `InfixExpression` 🤔

[2018-01-17 13:03] #554 closed

[2018-01-17 13:22] hachi8833 commented on #540
I'd finish it this weekend

[2018-01-17 13:28] hachi8833 commented on #550
I agree with the idea

[2018-01-18 10:47] st0012 commented on #580
This is a good idea but at this point our parser already has enough bugs, so I prefer to put this in a lower priority. After we fix most of the bugs and have a better parser codebase then we can support this very quickly.

[2018-01-21 06:41] st0012 commented on #478
@saveriomiroddi Since we're going to build Goby's builtin test framework, I think we don't need to bother change those `require`s now

[2018-01-21 06:41] #478 closed

[2018-01-21 07:09] st0012 commented on #486
@Maxwell-Alexius I think support only

[code]

should be enough. Cause we don't really have symbol <-> string conversion. So `:"1234567890"` is just `"1234567890"`, adding a colon before that doesn't make any difference.

[2018-01-22 18:49] saveriomiroddi opened #582 "Descending ranges should not return values, or return them in descending order"
In Goby, descending ranges return the values in ascending orders (in Ruby, the don't return values):

Goby:

[code]

Ruby:

[code]

I think that either they should work likey Ruby, or, they should returns descending values:

[code]

[2018-01-23 08:22] saveriomiroddi commented on #582
@st0012 updated the title/description.

[2018-01-23 10:13] hachi8833 commented on #582
Returning the descending values looks good to me:

[code]

[2018-01-23 12:26] st0012 commented on #582
According to Ruby's behavior I think we should raise an error, since they are actually un-functional and returns unexpected result (at least for me `(1..5).to_a` shouldn't return an empty array).
But descending value also works for me.

[2018-01-23 14:09] hachi8833 opened #584 "Top level `break` instruction causes panic on REPL"
The following Goby code from https://github.com/goby-lang/goby/blob/master/vm/statement_test.go#L13 causes panic only on REPL:

[code]

[code]

Note that the code works fine when running as a file.

And the following works fine on REPL; looks like the bug only occurs on top level `break` instruction.

[code]

FYI: complied with Go 1.9.3.

[2018-01-23 14:28] hachi8833 commented on #327
Now the issue has been fixed on the current `master` branch (9742df3). Closing.

[code]

[2018-01-23 14:28] #327 closed

[2018-01-27 04:17] st0012 commented on #540
@hachi8833 do you have time for this in this weekend?

[2018-01-27 06:23] hachi8833 commented on #540
I will do this weekend

[2018-01-27 06:58] st0012 commented on #537
@saveriomiroddi I think this can be closed now?

[2018-01-27 06:59] #480 closed

[2018-01-27 08:05] st0012 commented on #555
@hachi8833 Has this been finished? I remember you almost finished it few weeks ago

[2018-01-27 08:38] hachi8833 commented on #555
First I thought fixing #568 together, but I realized this should be fixed in another PR.
This will be finished this week, too. Just a moment.

[2018-01-27 09:52] saveriomiroddi commented on #537
Yes - I've also added a link, for reference.

[2018-01-27 09:54] #537 closed

[2018-01-27 10:16] saveriomiroddi opened #586 "Retain Hash keys insertion order"
Retaining the Hash keys insertion order is a very convenient Ruby feature. I wonder if this is planned for Goby as well, or not.

[2018-01-27 13:59] st0012 commented on #586
We actually had a discussion about this few months ago: https://github.com/goby-lang/goby/issues/265. Feel free to reopen it and add your opinion 😄

[2018-01-27 15:45] saveriomiroddi commented on #586
I see. If there isn't a strong drive, then I guess it's better to wait for them to be requested. Python has, for example, a subclass for this, [OrderedDict](https://docs.python.org/3/library/collections.html#collections.OrderedDict), so Goby could have the same API organization, if required.

[2018-01-28 12:56] st0012 commented on #286
This has been solved now

[2018-01-28 12:56] #286 closed

[2018-01-31 14:15] st0012 commented on #288
This isn't likely to happen in the next half years. Even if we want to rearrange the VM's structure, we'll change it gradually instead of one major change. So closing this now

[2018-01-31 14:15] #288 closed

[2018-02-03 17:02] #476 closed

[2018-02-05 23:58] hachi8833 opened #589 "Class#singleton_class needs a feature to create a singleton class when it does not have one"
I found that current `Class#singleton_class` causes panic when applying to objects other than classes:

[code]

According to http://devdocs.io/ruby~2.5/object#method-i-singleton_class:

The feature to create a new singleton class is missing in current Goby.

[2018-02-06 08:45] st0012 commented on #589
@hachi8833 thanks for reporting. Does this blocks anything?

[2018-02-11 06:21] st0012 commented on #589
@saveriomiroddi Can you help me on this?

[2018-02-11 16:11] st0012 opened #590 "Add t.Helper() to test helpers"
Golang's `testing` package provides a function `Helper()` to provide more accurate test failure report. At this point, the file name and line number in failure messages are test helper's locations. Using `t.Helper()` can make failure messages give us the location that uses the helper function instead.

See [here](https://golang.org/pkg/testing/#B.Helper)

[2018-02-12 01:22] hachi8833 commented on #590
Good feature!

[2018-02-13 16:04] st0012 opened #593 "Private method support"
- As @hachi8833 suggested, we're going to support private method using `_` prefix instead of `private` keyword. And
- `protect` won't be support.
- Users can override private methods
- Users **can't** use `send` to call private methods

[2018-02-13 16:11] st0012 opened #594 "`super` and monkey-patching mechanism design"
- We should support monkey-patching
- All methods (public or private) can be monkey-patched
- We shouldn't support Ruby's `super` keyword. But we can
  - Support something like `super_from(GrandClass)` to let users explicitly specify which ancestor's method they **super** to
  - Not supporting `super`-like mechanism at all

[2018-02-13 16:25] st0012 opened #595 "Apply to Devhints"
We should provide simple documentation via https://devhints.io

[2018-02-13 16:27] st0012 opened #596 "Apply to GitHub linguist"
See https://github.com/github/linguist/blob/master/CONTRIBUTING.md#adding-a-language

[2018-02-13 16:27] hachi8833 commented on #595
I'll look into it

[2018-02-13 21:55] saveriomiroddi commented on #594
Can you elaborate a bit on this one? Without `super()`, how do inherited methods invoke the ancestor, in particular, `initialize()`?
For the `initialize()` case, there is really no need for, say, `super_from()`, as invocation will go up the hierarchy.

Also, I'm a bit confused about the relationship between `super` and monkeypatching, as they apply to different areas (if I've understood well).

[2018-02-13 22:04] saveriomiroddi commented on #593
can you elaborate a bit on the `private` Goby visibility? will it have the exact same specification as Ruby?

using the exact same specification would, for example, disallow calling private methods of an instance of a given class, from another instance of the same class.

this is fine, although I think it should be designed very carefully. protected access level is in fact designed, in Ruby, in or

[2018-02-13 23:20] hachi8833 commented on #593
According to https://twitter.com/yukihiro_matz/status/180090910451834881, Matz feels that `protected` is redundant and says that he would not have adopted it if he could have. https://twitter.com/yukihiro_matz/status/180087810823438337 says that the keyword `protected` was added after adopting `private`, and it made developers from Java/C++ pretty confused. Considering this, `protected` feature lo

[2018-02-14 00:07] hachi8833 commented on #593
Personally, prohibiting the overriding ancestor classes's private `_` methods is preferable for me: if descendant classes would unexpectedly overrides the ancestor's private `_` methods, it would cause unexpected behaviors. Instead, unrestricted `send` can be a last resort to access any methods including private `_` methods.

Using private `_` is very easy and I expect this would promote appropria

[2018-02-14 00:12] hachi8833 commented on #594
Is the monkey-patching moderate like Ruby's `refinement`?

[2018-02-14 02:06] st0012 commented on #594
@saveriomiroddi @hachi8833 Change the title to be method overwriting, does that look better?

For the initialize() case, there is really no need for, say, super_from(), as invocation will go up the hierarchy.

[code]

I think this gives users a more clear view and control about the method inheritance.

[2018-02-15 21:42] saveriomiroddi commented on #594
So, the term exact is [method overriding](https://en.wikipedia.org/wiki/Method_overriding).

I don't think specific support for module overriding initialize() should be added.

The reason is that modules are used for composition; such override would interfere with inheritance.

Interestingly, this behavior could be considered [multiple inheritance](https://en.wikipedia.org/wiki/Multiple_inheritanc

[2018-02-15 21:51] saveriomiroddi commented on #593
I'm personally fine with any solution.

The crucial concept is that it's made clear that under the stated conditions:

- using the Ruby semantics of private method accessibility
- no protected method accessibility
- no calls, via `send`, to private method

it's acceptable that the following code is impossible to run:

[code]

this is acceptable, it's just a design choice to keep in mind. Ruby, for

[2018-02-15 21:52] saveriomiroddi commented on #589
I think I'm going to be pretty busy for a while with a separate Ruby project :-(

[2018-02-16 01:47] st0012 commented on #594
@saveriomiroddi I used `initialize` is because you mentioned it earlier. I think initialization override can be another topic actually. Let me give you a different example:

[code]
    super_from(

[2018-02-16 10:19] saveriomiroddi commented on #594
Ah! I see. Adding doesn't hurt :smile: :+1:

I think modules overriding should be taken into account as well (eg. the case where `Member#to_xml` is defined in another module, and not in Member), but maybe I'm stating the obvious :smile:.

[2018-02-17 06:45] #550 closed

[2018-02-18 17:14] #514 closed

[2018-02-20 20:17] ear7h commented on #524
I was looking into this today and I found it only happens with `* *`, not `**` or other operators. I think it's caused by the [registering of asterisk as a prefix expression](https://github.com/goby-lang/goby/blob/master/compiler/parser/parser.go#L69).

Removing this line and adding the following seems to fix this specific issue, but running `go test ./...` yields several parser related test failu

[2018-02-20 23:18] hachi8833 commented on #524
Thank you for looking into it!
Any suggestions to him? > @st0012

[2018-02-21 02:01] st0012 commented on #524
@hachi8833 @ear7h what issue are we talking about now? Can you give me code snippet and expected/actual output to help me catch up?

[2018-02-21 02:23] ear7h commented on #524
@st0012 my bad I meant to reply to a different issue (#444) will move there...

[2018-02-21 02:28] ear7h commented on #444
I was looking into this today and I found it only happens with * *, not ** or other operators. I think it's caused by the registering of asterisk as a prefix expression.

Removing [this line](https://github.com/goby-lang/goby/blob/master/compiler/parser/parser.go#L69) and adding the following line seems to fix this specific issue. But running go test ./... yields several parser related test failur

[2018-02-21 06:34] #590 closed

[2018-02-21 10:30] #589 closed

[2018-02-21 16:54] st0012 commented on #444
@ear7h Maybe adding check inside `p.parseInfixExpression`?
`* *` is two tokens for the parser while `**` is one. So when we proceed to the second `*` the left expression will also be `*`, and then we can know user are using it in the wrong way

[2018-02-24 15:25] st0012 commented on #577
This has been fixed in #601

[2018-02-24 15:25] #577 closed

[2018-02-24 17:24] st0012 opened #602 "Add integration tests for simple server"
Since simple server is one of our big features, it should be covered with integration tests to prevent regression

[2018-02-27 07:57] st0012 opened #605 "Rescue mechanism design"
I have some thought for the `rescue` keyword's scope:

## We follow Ruby's design

In this implementation, we need to support these two cases:

[code]

### Pros:
- Lower the learning curve for Rubyists
- More flexible

### Cons:
- The `begin`'s scope might be difficult to control
- I think this violates Goby's core concept, because in some cases both patterns works the same and users need to chose

[2018-02-27 08:38] st0012 opened #606 "customize `to_json` for user defined objects"
We should support something like:

[code]

[2018-02-27 09:49] st0012 commented on #595
@hachi8833 Can we finish this issue by the end of this week? Let's take [Golang's page](https://devhints.io/go) as a sample. And then we can port those things (or even just a link) to our official site

[2018-02-27 10:01] saveriomiroddi commented on #605
I like the method Begin/End block inlining a lot:

[code]

so I think it should be implemented.

However, regarding the second case:

[code]

and I think forbidding them a the root method level is somewhat arbitrary.

Also, I wish to mention that something I like a lot is block B/E inlining in Do/End blocks:

[code]

[2018-02-27 10:46] st0012 commented on #605
Ok, so it looks like I should first implement the `begin` version, and support the inlined version with some syntactic sugar

[2018-02-27 21:06] ear7h commented on #605
After looking through the code base, it seems like an entire function is compiled before execution. This means that the rescue statement can be 'registered' in the block scope during compilation and called, in the case of an error, during runtime. If this is the case, it seems like it seems like implementing the 2nd option wouldn't put us too far from properly implementing `begin`.

Although, one

[2018-02-28 06:44] #606 closed

[2018-03-01 07:49] #444 closed

[2018-03-01 17:39] ear7h commented on #584
Was looking into this today. Seem like something with the `break` statement.

[code]

[2018-03-01 17:46] ear7h commented on #584
@hachi8833

Ran another test (see snippet below) and the problem seems to be related to the top level but with the break statement being on the top level.

[code]

[2018-03-01 17:47] saveriomiroddi commented on #357
@st0012 ok, so, you think about adding an RSpec-like testing framework in the built-in standard library, is that correct?

Essentially, and file could be like:

[code]

right?

[2018-03-02 00:04] hachi8833 opened #609 "`Class` and `Object` is not open to extending/overriding"
The following cases for `Class` is the same as for `Object`.

* Cannot add any methods to `Class` (or `Object`) with `def`:

[code]

* Cannot override the methods in `Class` (and `Object`)

[code]

I wonder if the behaviors are intentional or not.

[2018-03-02 02:13] st0012 commented on #609
@hachi8833 Can you try other built in classes like `String` or `Integer`? I want to forbidden builtin classes being monkey-patched, but I don't remember I've implemented it

[2018-03-02 02:15] #529 closed

[2018-03-02 02:53] hachi8833 commented on #609
Other native classes such as `Integer` can be extensible and overridden.

[code]

[2018-03-02 02:56] st0012 commented on #357
@saveriomiroddi yes, according to the article it's the easiest implementation at this point

[2018-03-02 13:16] st0012 commented on #609
This is weird, I'll looking into it

[2018-03-02 13:29] st0012 commented on #609
@hachi8833 After taking a closer look, I found that it's because your scripts are wrong. Here's how you should test it:

[code]

[2018-03-02 15:59] hachi8833 commented on #609
Sorry! It works.
Shame on me 😓
Closing...

[2018-03-02 15:59] #609 closed

[2018-03-02 20:21] Trevoke opened #610 "Why Goby? Why not Elixir or Pony?"
So many new languages spring up, it'd be great to have a FAQ section that explains some things about Goby. If there is one, I'm sorry. I couldn't find it.

[2018-03-03 10:08] st0012 commented on #610
@Trevoke You can't find it because we're not ready to persuade people using Goby as a production-ready language. We should have the FAQ section for this question one or two years later 😄

[2018-03-03 14:02] Trevoke commented on #610
Okay, so ... Does that mean you haven't yet evaluated what's out there and
whether Goby should exist at all? Are you still in the
prototype-to-evaluate phase?

On Sat, Mar 3, 2018 at 5:08 AM Stan Lo <notifications@github.com> wrote:

[2018-03-03 14:24] st0012 commented on #610
We have some special features listed in feature section, those are the reasons I think Goby is still worth to be developed
We just think It’s too early to make a comparison with other mature languages, cause Goby is only one year old

[2018-03-03 15:16] hachi8833 commented on #595
Moving to https://github.com/rstacruz/cheatsheets/pull/434
Closing this issue.

[2018-03-03 15:16] #595 closed

[2018-03-03 16:30] saveriomiroddi commented on #610
Fore reference, I think that the closest "new generation" language is Crystal; Elixir and Pony have different (base) paradigms.

[2018-03-04 12:49] hachi8833 opened #611 "Discussion: Goby's classes can be `include`d or `extend`ed into other classes"
This looks unintentional behavior: not so harmful so far.
I feel that disabling this is better. How about this?

[code]

This causes and error in Ruby when defining `Bar`

[code]

[2018-03-04 14:12] st0012 commented on #605
@ear7h I don't think we'll support multiple rescue. In my opinion, if a method requires multiple rescue, it need to be refactored

[2018-03-04 14:25] #540 closed

[2018-03-04 14:30] #602 closed

[2018-03-06 16:35] st0012 commented on #611
IMO we should forbidden this kind of behavior, cause it'll be very confusing

[2018-03-08 08:30] st0012 commented on #605
I gotta say this feature's complexity is higher than I expected. So I'll lower its priority, which means we need to build our test framework without rescuing mechanism. Is that ok? @saveriomiroddi

[2018-03-08 12:15] st0012 commented on #610
@Trevoke If you're not going to have further discussing, I'm closing it now

[2018-03-08 13:49] nerde opened #616 "[feature request] Should Goby support any object in Hash keys?"
Ruby allows any object to be used as hash keys. And during the lookup (`[]`), it uses `hash` to calculate a unique number for the given key object and find its bucket and then `eql?` to compare keys and find its value: https://ruby-doc.org/core-2.1.0/Object.html#method-i-hash

I think it would be interesting to have at least something similar. Goby could add support for `hash` method, which is bas

[2018-03-08 13:50] st0012 commented on #616
What do you think? @ear7h @hachi8833 @saveriomiroddi

[2018-03-08 14:15] Trevoke commented on #610
Ah, sorry, I missed the previous email! If I understand correctly, the vision for Goby is "Ruby with better concurrency" ?

[2018-03-08 14:22] st0012 commented on #610
@Trevoke Not really, it currently looks like Ruby a lot is because it's the language I most familiar with. But our goal is not to be another Ruby implementation. For example, we're still discussing if we should support Ruby's meta-programming features. And we'll definitely have a stricter syntax rule

[2018-03-08 14:36] Trevoke commented on #610
Okay, so is it fair to say that you don't have a vision for the language?
I'm not able to figure out what Goby is for : what problem it solves, what
it allows you to do.

On Thu, Mar 8, 2018, 09:23 Stan Lo <notifications@github.com> wrote:

[2018-03-08 14:42] saveriomiroddi commented on #616
Clever and simple idea, will avoid handling keys collisions at least until `hash()` specification changes (eg. if memory compaction will be implemented, I guess it won't be guaranteed to return unique values).

[2018-03-08 15:00] st0012 commented on #610
Let me put it this way: I want Goby to be a language that has Go’s efficiency and Ruby’s productivity

[2018-03-08 16:17] ear7h commented on #616
https://blog.golang.org/go-maps-in-action

So I don't think it's necessary to implement a `hash` method before a general map. However, this is a feature of many object orient languages and I'm not opposed to including it as well.

[2018-03-08 16:26] st0012 commented on #616
@nerde thought about one question: how often do you think this feature will be used?
Although I don't mind support this feature, it does introduce extra maintenance need. So I want to make sure we're making features that are worth it.

Personally I can't even remember the last time I use an object as a hash key

[2018-03-08 16:49] nerde commented on #616
@st0012 very good question. Well, I have used objects as keys in the past, but it was a very specific scenario and I could have solved it with `String` keys too.

The current implementation doesn't allow me to use `Integer` as keys and I don't know how it handles `Symbol` keys, would need to check.

I think you have a point, it might be just not worth it.

[2018-03-08 17:20] Trevoke commented on #610
That is already useful, thanks :)

On Thu, Mar 8, 2018, 10:00 Stan Lo <notifications@github.com> wrote:

[2018-03-08 19:55] ear7h commented on #616
I'll take this issue, I've been meaning to do something vm related

[2018-03-08 21:29] ear7h commented on #616
After looking into, this requires that access to the underlying map of the `HashObject`would be unexported and create `Get`, `Set`, `Delete` methods for access. In here it would use the underlying values of primitive types and addresses of objects.

[code]
Also saw that this would take some refactoring from the use by other classes
@st0012

[2018-03-09 02:42] #610 closed

[2018-03-09 04:56] st0012 commented on #616
@ear7h we might not implement object as key, because the use case is quite few but the maintenance effort is not small

[2018-03-09 05:01] st0012 commented on #582
@ear7h Can you work on this? We want descending ranges work in Ruby, let's start from making the `to_a` method returns right array:

[code]

[2018-03-09 15:04] saveriomiroddi commented on #616
Additionally, I've just realized that using memory addresses wouldn't work for collections, which are a valid use case. Two different Array instances with same content (eg. [1, 2, 3]) would be treated by this logic as different objects (being two different instances), while they should be indexed as the same.

This makes generic Object support event more complex.

I do seldomly use Object support

[2018-03-09 15:22] nerde commented on #616
@saveriomiroddi the way Ruby does it is by calling the `hash` method. `Object` would calculate it via memory address, but `Array` and `Number` wouldn't, they would have their custom implementations of `hash` calculation, which wouldn't rely on memory. Ruby's `Array#hash`, for example, calculates it by using the `hash` from each element in it.

But I agree, it's a complex feature. I think it's fair

[2018-03-09 16:05] st0012 commented on #616
I'll say put it in low priority for now, we have more important features to do (like builtin test framework, library management tool)

[2018-03-10 16:50] saveriomiroddi opened #620 "Equality methods/operators"
Ruby supports 4 equality methods/operators:

- `==`
- `===`
- `eql?`
- `equal?`

they're traditionally confusing for devs (at least, beginners), although they do have specific semantics.

I think the Goby implementation/compatibility should be discussed, in particular, before the new testing framework release, since the testing framework will need to respect all the operator semantics.

[2018-03-11 07:25] st0012 commented on #620
Let me add a reference: https://stackoverflow.com/questions/7156955/whats-the-difference-between-equal-eql-and

And currently our `#==` works as the post says. For example, `1 == 1.0` returns `true`.
So I guess we'll need to implement the `#eql?` method for our test framework. Can you help on this? @saveriomiroddi

[2018-03-11 09:51] saveriomiroddi commented on #620
ok, so, to understand:

- `eql?` and `==` will be implemented in the test framework
- the language base classes will only implement `eql?`
- `equal?` and `===` are not to included, at least currently, in the language

is that correct?

[2018-03-11 10:18] st0012 commented on #620
@saveriomiroddi
- `#==` is already implemented, and I prefer implementing `#eql?` in another PR
- also `#==` (but already has)
- yes

[2018-03-12 11:04] saveriomiroddi opened #624 "Assignment surrounded by parenthesis, inside a method, crashes the interpreter"
An expression of the form:

[code]

crashes the interpreter.

If the parenthesis are removed, or the code is expressed in a single line, the interpreter won't crash.

This is the crash message/stack:

[code]

[2018-03-12 14:02] st0012 commented on #624
@saveriomiroddi thanks for report, I'll looking into it

[2018-03-12 14:03] st0012 commented on #624
@shes50103 here's another case that'll crash the parser

[2018-03-13 09:14] shes50103 commented on #624
got it I will fix it

[2018-03-13 15:12] st0012 opened #628 "Complete test framework"
In #619 we already have a basic test framework, now we need to support some additional features to make it more complete

- [x] custom command like `goby test`
- [x] multiple file support like `goby test specs`

[2018-03-13 21:42] hachi8833 opened #629 "Bug: `break` is unstable in REPL"
[code]

The code above works fine in normal run within a file, trailing `foo 20` several times.

When you first run `foo 20` on REPL, it works, too. But if you run `foo 20` again on REPL, you receive the following panic.

[code]

Note that this is the same on REPL even when you wrap `foo` in a class:

[code]

[2018-03-14 06:08] st0012 commented on #629
@hachi8833 doesn't this relate/be identical with #584?

[2018-03-14 07:59] hachi8833 commented on #629
You're right. I should be closing this...

[2018-03-14 07:59] #629 closed

[2018-03-15 01:43] st0012 opened #631 "More spec matchers"
Since we now have test framework, and it's `RSpec`-like. So it's not hard to see that we'll need a lot matchers in the future, like: `include`, `contain`, `match`..etc.

[2018-03-15 01:46] st0012 commented on #631
@saveriomiroddi is this what you talked about?

[2018-03-15 02:47] st0012 commented on #628
This already be implemented in #630

[2018-03-15 02:47] #628 closed

[2018-03-15 09:02] saveriomiroddi commented on #631
Yes, I think it's great for beginners :smile:

[2018-03-18 16:21] #624 closed

[2018-03-21 15:04] st0012 commented on #524
@shes50103 Can you help on this, although this is more REPL related

[2018-03-21 15:05] #485 closed

[2018-03-21 15:06] st0012 commented on #379
I think we already implemented the Float data type, just need to improve it now. So closing this

[2018-03-21 15:06] #379 closed

[2018-03-21 15:06] #141 closed

[2018-03-21 15:07] st0012 commented on #269
@hachi8833 has this been implemented?

[2018-03-21 15:08] #357 closed

[2018-03-21 15:11] st0012 commented on #611
@goby-lang/maintainers any other opinion?

[2018-03-21 15:17] st0012 opened #635 "Create Goby plugin for editors"
Because our syntax is compatible with Ruby's, so basically we can all just clone and modify Ruby's plugin (mainly for keywords)

## Editors to support
- [x] `Vim`, can just modify https://github.com/vim-ruby/vim-ruby
- [x] `Sublime`
- [ ] `VSCode`

## Keywords that need to be supported
- def
- true
- false
- nil
- if
- elsif
- else
- case
- when
- return
- self
- end
- while
- do
- yield
- get_blo

[2018-03-21 18:44] saveriomiroddi commented on #611
Definitely inclusion/extension should be reserved to modules.

[2018-03-21 21:21] hachi8833 commented on #269
Not yet

[2018-03-22 03:43] st0012 commented on #611
ok I'll open another issue to forbidden this and closing this

[2018-03-22 03:43] #611 closed

[2018-03-22 03:44] st0012 opened #636 "Forbidden include/extend on classes"
This is related #611

[2018-03-22 16:46] st0012 commented on #351
@saveriomiroddi do you want to give this a try?

[2018-03-24 18:45] SD10 opened #637 "Setup peril for goby-lang project management"
### Proposal: Setup peril for goby-lang project management
I think that [peril](https://github.com/danger/peril) could be a valuable resource for automating work around goby-lang repositories.

#### Why peril?

You may be familiar with a tool called [danger](https://github.com/danger/danger) by the same organization. Danger hooks into your CI environment and allows you to automate code review on p

[2018-03-25 01:20] st0012 commented on #637
@SD10 good proposal! thanks!
I think there're at least two things we can do via the bot:
1. automatically assign issue to maintainers
2. Run benchmark and comment the result on PR

[2018-03-26 01:47] #582 closed

[2018-03-26 03:53] shes50103 commented on #524
@st0012 ok, I will fix it!

[2018-03-30 02:41] #524 closed

[2018-03-31 04:31] hachi8833 commented on #330
Just a memorandum: When the string interpolation is supported, I suppose disabling the concatenation `String#+` might be good instead. String concatenation with `+` sometimes leads to inefficient codes and security holes like SQL injections.

The string interpolation should equip auto `#to_s` (and if possible, auto sanitization as a default)

[2018-03-31 10:01] saveriomiroddi commented on #330
SQL sanitization can't be perfomed by the language, as it's a functionality of the database (driver); each database (driver) can/does escape in a different way, also depending on the semantic of the value to escape: tables/schemas, columns and literals are/can be escaped in different ways.

[2018-04-01 01:00] hachi8833 commented on #330
I should've noticed that: thank you!

[2018-04-02 15:45] saveriomiroddi opened #640 "Including an Array causes an internal error"
The following code causes an internal error and subsequent panic:

[code]

[2018-04-02 15:48] st0012 commented on #640
I think that's because the way we return/retrieve value at the wrong stack position.
@SD10 this is something related to incorrect stack operation, which you might be interested in tracking of.

[2018-04-03 13:36] #636 closed

[2018-04-04 23:33] ear7h commented on #351
## `go get`
### Pros
* easy to manage a personal library
* enforces a level of compatibility
* doesn't require any infrastructure from our end or users

### Cons
* management of incompatible dependencies can get hairy
* depends on git

[2018-04-04 23:35] ear7h commented on #351
@goby-lang/maintainers feel free to edit my previous comment. Also if someone with more experience with `ruby gems` than me could make a similar list that would be nice.

[2018-04-05 07:39] st0012 commented on #351
Just added `rubygems`'s pros and cons, can @hachi8833 @saveriomiroddi help me review them?

[2018-04-07 09:00] hachi8833 commented on #351
My preference:

* no metadata file is required like `go get`
* can manage versioning like `rubygems`
* can fetch libraries from GitHub like `go get`
  * in the case, just maintaining a [formula](https://github.com/Homebrew/homebrew-core/tree/master/Formula) as available-library list like Homebrew

And I wonder how Goby should manage plugins from Golang: should be integrated or separated

[2018-04-07 18:43] saveriomiroddi commented on #635
If somebody takes care of the VSCode and Emacs ones, we're st.

[2018-04-08 05:07] hachi8833 commented on #635
Memorandum: JetBrains' [Plugin development guide](https://www.jetbrains.com/help/idea/plugin-development-guidelines.html#d389723e7) would help to create a plugin for Goland or other JetBrains IDE.

Well, current [Ruby plugin](https://plugins.jetbrains.com/plugin/1293-ruby) contains .jar files 😢

[2018-04-08 21:27] saveriomiroddi commented on #351
I'd say the Golang structure could be used as a starting point, as it's always possible to add a centralized infrastructure, in case it's decided to do so.

I think versioning is a requirement. I have no idea how the Golang people do, but in real world dependencies do break compatibility if versioning is not implemented.
It's possible to implement a simple versioning by enforcing a specification f

[2018-04-08 21:43] saveriomiroddi commented on #635
JAR files are simple ZIP archives, so that they can be opened and inspected. However, the IDEA plugins are quite big in size and functionality, so there's a huge amount of stuff inside :smile:
Nonetheless, for the audacious one who's going to dig in, it should be relatively easy to isolate the syntax definition file, and clone only that into a new, separate plugin (as I did with "Only Goby").

[2018-04-08 21:58] saveriomiroddi opened #642 "Create Goby Ubuntu PPA"
The Ubuntu PPA is the repository system for custom repositories from Canonical, for APT-based systems (Ubuntu and Debian).

Creating a Goby PPA would make it easy for users to install Goby, and automatic to keep it updated.

[2018-04-08 21:58] saveriomiroddi commented on #642
I'll take care of this.

[2018-04-09 05:03] st0012 commented on #642
Cool👍

[2018-04-09 07:32] saveriomiroddi commented on #351
Taking Ruby as example is a bit tricky, because the intended way forward will be Rubygems and Bundler merged.

Put all the libraries in one place or putting them under every project are not two mutually exclusive conditions. The library manager could look up first in the project directory, then in the shared system repository.

[2018-04-09 08:58] st0012 commented on #351
In the long-term they aren't mutually exclusive, but we need to decide which one goes first for the first version

[2018-04-09 11:11] hachi8833 commented on #451
Just a memorandum.

I remember `Decimal` class can potentially treat arbitrary big num:

[code]

I wonder how to convert `Integer` and `Decimal` smoothly.  Currently `Decimal`'s `toString()` is truncated on 60th digits.

[2018-04-09 22:07] saveriomiroddi commented on #351
In this case, per-project dependencies are far easier to implement, so they may be a better starting point.

[2018-04-10 05:13] st0012 commented on #351
@saveriomiroddi yep that's what I intended to do

[2018-04-10 19:41] ear7h commented on #351
I've come up with some ideas, but they could use some improvement... Let me know what you guys think!

Here are my opinions for the design:
* all the libraries in one location (go-like)
* versioning should be ignored unless specified by the user (go-like)
* use git storage/transport (go-like)  and versioning

For versioning, a new directory concatenated with the branch name would be created and th

[2018-04-11 07:42] shes50103 opened #643 "Some error not define in parser will break the code"
I find
`if
end`
`if()
end`
these two cases won't raise any error in parser but they will break the code after them.
I try the following example in REPL
[code]

[code]
I will find a time to solve the problem

[2018-04-11 08:44] shes50103 commented on #643
I also test these examples on script mode
but there are errors in the code itself
so we can expect the program will crash.
To the solve the problem in igb mode
I need to detect the error in parser

[2018-04-11 17:36] saveriomiroddi opened #644 "When an expected standard library file is not found, the interpreter panics."
When an expected standard library file is not found, eg. `lib/range_enumerator.gb` the interpreter panics.

Although this is an abnormal setup case, I think there should be a cleaner/user friendlier way of handling the requires, which would raise the standard InternalError.

Test case:

[code]

[2018-04-11 18:27] saveriomiroddi commented on #644
@st0012 shouldn't there be a return in https://github.com/goby-lang/goby/blob/29e1190ef4270529a43f16e34a1d275caeb080ad/vm/thread.go#L82?
It doesn't fix the error, but I think execution should halt if the file can't be read.

[2018-04-14 06:49] ear7h commented on #451
Closing this issue because Big numbers are supported by the `Decimal` class, thank you @hachi8833 . I'll open up a separate issue for those concerns...

[2018-04-14 06:49] #451 closed

[2018-04-14 07:01] ear7h opened #647 "Support Integer conversion to Decimal"
I don't think it'll take more than implementing a `to_d` method for the integer class.
[code]
#451 for context
cc @hachi8833

[2018-04-14 07:04] hachi8833 commented on #647
Let me checking in!

[2018-04-14 07:18] ear7h opened #648 "Support user defined precision of Decimal strings"
Currently, `Decimal#to_s` is hardcoded to support 60 digits of precision.

We should do something like (ruby)[https://ruby-doc.org/stdlib-2.2.0/libdoc/bigdecimal/rdoc/BigDecimal.html#method-i-to_s] which allows the user to pass a format string to the `to_s` method.
#451 for context
cc @hachi8833

[2018-04-15 16:49] #647 closed

[2018-04-15 22:44] saveriomiroddi commented on #644
Closed by #645.

[2018-04-15 22:44] #644 closed

[2018-04-27 03:47] eliothedeman opened #654 "Move database related code out of vm/"
This dirties up the package and makes testing difficult.

[2018-04-27 03:55] eliothedeman opened #655 "Remove defer statements where possible."
Defer has a high overhead and should be avoided in performance critical situations. Using a single defer in `ExecInstructions` should be enough.

These seem like the best targets for removal.

[code]

[2018-04-27 03:58] st0012 commented on #654
@eliothedeman because the plugin is written in Go and requires vm package's internal data type or functions (design issue), so for now we can only move tests out of vm directory.

The plugin itself should be moved out after we redesign the way we create Go-based libraries.

[2018-05-01 05:40] rezam90 opened #660 "add numbers with underscore"
ruby had this nice feature to add underscore between digits for numbers `1_000_000_000`
it would be great if goby can do it too.

[2018-05-01 06:12] st0012 commented on #660
@rezam90 yep I think this is a good idea, thanks!